
.desc {
  padding: 48px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 6px 11px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.desc-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.desc-list-item-icon {
  flex-shrink: 0;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desc-title {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
}

.desc-desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 140%;
}

.desc-item {
  width: calc(50% - 25px);
}
