
.include {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 6px 11px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  display: flex;
}

.include-container {
  width: calc(100% - 333px);
  background: #fff;
  padding: 48px;
}

.include-aside {
  width: 333px;
  background: #F9F9F9;
  padding: 48px;
}

.include-title {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 10px;
}

.include-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.include-item:nth-child(odd) {
  margin-right: 32px;
}

.include-item {
  width: calc(50% - 16px);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
}

.include-item svg {
  flex-shrink: 0;
  margin-right: 12px;
}

.include-variant-title-big span {
  background: #fff;
  display: inline-block;
  padding-right: 15px;
}

.include-variant-title-big::after {
  height: 2px;
  width: 100%;
  background: #E5E7EB;
  content: '';
  position: absolute;
  left: 0;
  top: calc(50% - 1px);
  z-index: -1;
}

.include-variant-title-big {
  position: relative;
  margin-bottom: 10px;
  z-index: 1;
}

.include-variant-title-big {
  position: relative;
  font-size: 14px;
  color: #FAB706;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.include-variants {
  display: flex;
}

.include-variant {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.include-variant-icon {
  flex-shrink: 0;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.include-variant-title {
  font-size: 12px;
  color: #6B7280;
  margin-right: 15px;
}

.include-variant-price {
  font-size: 18px;
  color: #212A34;
  font-weight: 900;
}

.button-yellow:hover {
  border-color: #fab706;
}

.button-yellow {
  border-color: #fab706;
}

.include-aside-title {
  font-size: 18px;
  margin-bottom: 16px;
  text-align: center;
  color: #6B7280;
}
.include-aside-price-title{
  font-size: 24px;
  line-height: 24px;
  font-weight: 900;
  text-align: center;
}

.include-aside .button{
  font-size: 16px;
}

.include-aside-price {
  margin-bottom: 16px;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

.include-pay {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.include-pay-icon {
  flex-shrink: 0;
  margin-right: 9px;
}

.include-pay-text {
  font-size: 12px;
  max-width: 152px;
  color: #6B7280;
}

.include-discount {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 17px;
}

.include-discount-icon {
  margin-right: 30px;
}

.include-discount-old-price {
  font-size: 13px;
  font-weight: 900;
  text-decoration: line-through;
  color: #6B7280;
  margin-right: 30px;
}

.include-discount-count {
  font-size: 13px;
  font-weight: 900;
  color: #FAB706;
}
.include-aside-table{
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  tr{
    td:first-child, th:first-child{
      text-align: left;
      padding: 5px 0;
    }
    td:last-child, th:last-child{
      text-align: right;
      padding: 5px 0;
    }
    td{
      color: #6B7280;
    }
    th{
      color: #212A34;
      font-weight: 900;
    }
  }
}