
.profit {
  padding: 48px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 6px 11px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.profit-title {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
}

.profit-list {
  display: flex;
  flex-wrap: wrap;
}

.profit-item {
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.profit-item-icon {
  flex-shrink: 0;
  margin-right: 10px;
}

.profit-item-text {
  width: 170px;
  font-size: 16px;
}
