.reviews {
  background: #fff;
  padding: 50px 0;
  &__title{
    font-size: 30px;
    line-height: 36px;
    font-weight: 900;
    margin-bottom: 20px;
    padding-left: 66px;
  }
  &__item {
    padding: 24px;
    background: #f9f9f9;
  }
  &__author{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  &__photo{
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    margin-right: 14px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  &__name{
    font-size: 16px;
    line-height: 125%;
    font-weight: 600;
  }
  &__reviews{
    margin-top: 4px;
    display: flex;
    align-items: center;
  }

  &__course{
    font-size: 18px;
    line-height: 125%;
    margin-bottom: 20px;
    font-weight: 600;
  }
  &__text{
    font-size: 14px;
    line-height: 150%;
    color: #6b7280;
    margin-bottom: 20px;
  }
  &__videos{
    display: flex;
  }
  &__video{
    width: 100px;
    height: 73px;
    margin-right: 17px;
    position: relative;
    &::before{
      position: absolute;
      content: '';
      background-image: url('../img/play.svg');
      background-size: contain;
      width: 28px;
      height: 28px;
      left: calc(50% - 14px);
      top: calc(50% - 14px);
    }
    img{
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }
}