
.author-slider {
  padding: 50px 0;
  background: #fff;
  margin-bottom: 30px;
  box-shadow: 0 6px 11px rgba(0, 0, 0, 0.1);
}

.author-card {
  width: 274px;
  border-radius: 8px;
  overflow: hidden;
  background: #f9f9f9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.author-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.author-card-img {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  overflow: hidden;
}

.author-card-body {
  padding: 24px 16px;
}

.author-card-name {
  font-size: 20px;
  font-weight: 900;
}

.author-card-rait {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.author-card-rait-num, .author-card-rait-icon {
  margin-right: 2px;
}

.author-card-rait-num {
  color: #6B7280;
  font-weight: 900;
  font-size: 12px;
}

.author-card-rait-count {
  color: #6B7280;
  font-size: 12px;
}

.author-card-text {
  color: #6B7280;
  font-size: 16px;
  line-height: 150%;
}

.author-slide {
  display: flex;
  justify-content: space-between;
}

.author-title {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
}

.author-item {
  padding-left: 36px;
  position: relative;
}

.author-item-icon {
  position: absolute;
  left: 0;
  top: 0;
}

.author-item-text {
  color: #6B7280;
  font-size: 16px;
  line-height: 25px;
}

.author-item-tag {
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 2px 10px;
  font-size: 12px;
  line-height: 150%;
  color: #212A34;
  background: rgba(250, 183, 6, 0.5);
  border-radius: 6px;
}

.author-item-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 12px;
}

.author-item-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.author-card {
  width: 274px;
}

.author-rewards {
  width: 280px;
}

.author-info {
  width: 388px;
}

.author-rewards {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.author-reward {
  padding: 20px;
  background: #F9F9F9;
  border-radius: 7px;
  overflow: hidden;
  margin-top: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.author-reward-title {
  font-size: 40px;
  color: #FAB706;
  line-height: 42px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 6px;
}

.author-reward-text {
  font-size: 16px;
  color: #6B7280;
  text-align: center;
}
.swiper-button-next, .swiper-button-prev {
  transition: 0.3s;
  cursor: pointer;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none;
}