.not-page{
  padding: 32px 0;
  .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-title{
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    color: #FAB706;
    font-weight: 600;
    text-transform: uppercase;
  }
  .title{
    font-size: 48px;
    margin-bottom: 8px;
    font-weight: 900;
  }
  .text{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .button{
    font-size: 16px;
    line-height: 24px;
  }
}