.new-breadcrumbs {
  display: flex;
  align-items: center;
  padding: 18px 0;
  svg{
    display: block;
  }
}

.new-breadcrumbs__arrow, .new-breadcrumbs__item {
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6B7280;
  font-size: 14px;
}

.new-breadcrumbs__item a {
  color: #6B7280;
}

.new-catalog .title {
  margin-bottom: 27px;
}

.new-catalog-controls {
  display: flex;
  align-items: flex-end;
  margin-bottom: 24px;
}