
.new-catalog-item {
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
  width: calc(25% - 32px);
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.new-catalog-tag {
  position: absolute;
  left: 10px;
  bottom: 8px;
  padding: 3px 8px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 11px;
  color: #fff;
}

.new-catalog-button {
  cursor: pointer;
}
.new-catalog-buttons {
  position: absolute;
  bottom: 8px;
  right: 10px;
  display: flex;
  align-items: center;
}

.new-catalog-button svg {
  stroke: white;
  transition: 0.3s;
}

.new-catalog-button:hover{
  svg{
    stroke: #FAB706;
  }
}
.new-catalog-button:active{
  svg{
    fill: #FAB706;
  }
}
.new-catalog-button.active svg{
  fill: #FAB706;
  stroke: #FAB706;
}

.new-catalog-button:not(:last-child) {
  margin-right: 8px;
}

.new-catalog-title {
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: 600;
  color: #111827;
}

.new-catalog-body {
  padding: 11px 15px;
  background: #fff;
  border-radius: 0 0 8px 8px;
}

.new-catalog-text {
  font-size: 11px;
  margin-bottom: 8px;
  color: #6B7280;
}

.new-catalog-day {
  margin-right: 8px;
  font-size: 11px;
  color: #000;
  padding: 2px 8px;
  background: #FAB706;
  border-radius: 3px;
  margin-bottom: 4px;
  margin-top: 4px;
}

.new-catalog-statuses {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 8px;
}

.new-catalog-icon {
  display: flex;
  align-items: center;
  font-size: 11px;
  color: #6B7280;
  margin-right: 8px;
  margin-bottom: 4px;
  margin-top: 4px;
}

.new-catalog-icon svg {
  margin-right: 5px;
  flex-shrink: 0;
}

.new-catalog-price {
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.old-price {
  color: #6B7280;
  font-size: 13px;
  text-decoration: line-through;
  margin-left: 30px;
}

.discount {
  font-size: 13px;
  color: #FAB706;
  margin-left: 30px;
}

.new-catalog-info {
  padding: 3px 14px;
  border-radius: 3px;
  border: 1px solid #000;
  display: inline-block;
  margin-bottom: 8px;
  font-size: 11px;
  transition: 0.3s;
  cursor: pointer;
  color: #000;
  &:hover{
    background: #FAB706;
    border-color: #FAB706;
  }
  &:active{
    border-color: #000;
    background: #000;
    color: #fff;
  }
}

.new-catalog-author {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.new-catalog-author-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
}

.new-catalog-author-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.new-catalog-author-name {
  font-size: 12px;
  color: #6B7280;
}

.new-catalog-prices{
  width: 100%;
  margin-bottom: 14px;

  font-size: 13px;
  line-height: 17px;
  tr{
    td:first-child, th:first-child{
      text-align: left;
    }
    td:last-child, th:last-child{
      text-align: right;
    }
    td{
      color: #6B7280;
    }
    th{
      color: #212A34;
      font-weight: 900;
    }
  }
}

.new-catalog-footer {
  display: flex;
  align-items: center;
}

.new-catalog-raiting {
  display: flex;
  align-items: center;
}

.new-catalog-rait-num {
  font-size: 12px;
  color: #6B7280;
  font-weight: 800;
}

.new-catalog-rait-count {
  font-size: 12px;
  color: #6B7280;
}


.new-catalog-container {
  padding-bottom: 20px;
  margin-right: -16px;
  margin-left: -16px;
  display: flex;
  flex-wrap: wrap;
}

.new-catalog-img {
  position: relative;
}

.catalog-img {
  width: 100%;
  padding-bottom: 53%;
  position: relative;
}

.catalog-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.new-catalog-item {
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
  width: calc(25% - 32px);
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.new-catalog-tag {
  position: absolute;
  left: 10px;
  bottom: 8px;
  padding: 3px 8px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 11px;
  color: #fff;
}

.new-catalog-buttons {
  position: absolute;
  bottom: 8px;
  right: 10px;
  display: flex;
  align-items: center;
}

.new-catalog-button:not(:last-child) {
  margin-right: 8px;
}

.new-catalog-title {
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: 600;
  color: #111827;
}

.new-catalog-body {
  padding: 11px 15px;
}

.new-catalog-text {
  font-size: 11px;
  margin-bottom: 8px;
  color: #6B7280;
}

.new-catalog-day {
  margin-right: 8px;
  font-size: 11px;
  color: #000;
  padding: 2px 8px;
  background: #FAB706;
  border-radius: 3px;
}

.new-catalog-statuses {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.new-catalog-icon {
  display: flex;
  align-items: center;
  font-size: 11px;
  color: #6B7280;
  margin-right: 8px;
}

.new-catalog-icon svg {
  margin-right: 5px;
  flex-shrink: 0;
}

.new-catalog-price {
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
.new-catalog-tooltip{
  position: absolute;
  left: 0;
  top: 0;
  height: calc(100% - 40px);
  width: 100%;
  &:hover .new-catalog-tooltip-text{
    opacity: 1;
    pointer-events: auto;
  }
}
.new-catalog-tooltip-text{
  position: absolute;
  bottom: calc(100% + 4px);
  background: #fff;
  border: 1px solid #FAB706;
  border-radius: 8px;
  font-size: 12px;
  padding: 12px 8px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    height: 6px;
    width: 100%;
  }
}