.header{
  padding: 15px 0;
  background: #fff;
  border-bottom: 1px solid #e1e1e1;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 4;
  height: 74px;
  .wrapper{
    display: flex;
    align-items: center;
  }
  &__right{
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  &__buttons{
    margin-left: 30px;
    & > *{
      display: inline-block;
      position: relative;
      &:hover svg{
        stroke: #FAB706;
      }
      &:active svg{
        fill: #FAB706;
      }
    }
    & > *:not(:last-child){
      margin-right: 8px;
    }
    
    svg{
      transition: 0.3s;
      stroke: #0F172A;
    }
  }
}

.mobile-menu-btn{
  margin-right: 20px;
  flex-shrink: 0;
  cursor: pointer;
  &:hover svg{
    fill: #FAB706;
    stroke: #FAB706;
  }
  svg{
    transition: 0.3s;
    fill: #212A34;
    stroke: #212A34;
  }
}

.logo{
  margin-right: 20px;
  max-width: 316px;
  img{
    max-width: 100%;
  }
}

.search{
  width: 300px;
  position: relative;
  margin-right: 20px;
  flex-shrink: 0;
  &__icon{
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 0;
  }
  &__input{
    width: 100%;
    .input{
      padding-right: 42px;
    }
  }
}

.profile{
  display: flex;
  align-items: center;
  margin-left: 40px;
  position: relative;
  cursor: pointer;
  &:hover{
    .profile__dropdown{
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
    }
  }
  &__img{
    width: 32px;
    height: 32px;
    margin-right: 6px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  &__name{
    font-size: 14px;
    line-height: 150%;
    margin-right: 5px;
  }
  &__arrow{
    width: 14px;
    height: 14px;
    svg{
      width: 100%;
      height: 100%;
    }
  }
}
.count{
  position: absolute;
  right: -6px;
  bottom: -3px;
  font-size: 12px;
  line-height: 15px;
  background: #FAB706;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.profile__dropdown{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #e1e1e1;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: 0.3s;
  a{
    color: #000;
    transition: 0.3s;
    &:not(:last-child){
      margin-bottom: 10px;
    }
    &:hover{
      color: #FAB706;
    }
  }
}