
.new-test .test__container {
  padding: 37px 76px;
  background: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
}

.new-test .title {
  margin-bottom: 20px;
}

.new-test .button {
  align-self: baseline;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-test {
  padding: 20px 0;
  .title{
    margin-bottom: 25px;
    font-size: 28px;
    line-height: 140%;
    font-weight: 600;
  }
}

.new-answer .answer__text::after, .new-answer .answer__text::before {
  display: none;
}

.new-answer .answer__text {
  padding-left: 0;
}

.answer__icon {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  border: 1px solid #D1D5DB;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  transition: 0.3s;
  position: relative;
  &::before{
    width: 15px;
    height: 12px;
    content: '';
    background-image: url('@/assets/img/check-icon.svg');
    background-size: contain;
    left: calc(50% - 7.5px);
    top: calc(50% - 6px); 
    position: absolute;
    opacity: 0;
    transition: 0.3s;
  }
}

.answer__icon svg {
  opacity: 0;
  transition: 0.3s;
}

input:checked + .answer__icon {
  border-color: #FAB706;
  background: #FAB706;
  &::before{
    opacity: 1;
  }
}

input:checked + .answer__icon svg {
  opacity: 1;
}


.test .title {
  margin-bottom: 20px
}

.test .button {
  -ms-flex-item-align: baseline;
  align-self: baseline;
  padding: 13px 26px;
  border-radius: 6px
}

.test .button svg {
  margin-left: 10px
}

.test-result .test__text {
  margin-bottom: 10px
}

.test__text,.test__title {
  line-height: 140%;
  color: #212a34
}

.test__title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px
}

.test__text {
  font-size: 15px;
  margin-bottom: 30px;
  max-width: 697px
}

.test__container {
  padding: 40px;
  background: -webkit-linear-gradient(352.64deg,#f9f9f9 5.74%,#f2f2f3 103.43%);
  background: linear-gradient(97.36deg,#f9f9f9 5.74%,#f2f2f3 103.43%);
  border: 1px solid #b6b6b6;
  -webkit-box-shadow: 0 10px 25px rgba(0,0,0,.25);
  box-shadow: 0 10px 25px rgba(0,0,0,.25);
  display: flex;
  flex-direction: column;
}

.test__progress {
  padding-top: 62px;
  width: 241px
}

.test__block {
  flex-direction: column;
  display: none;
  &.active{
    display: flex;
  }
}

.test__block .button-yellow:not(:hover) {
  border-color: #fab706
}

.test__quest,.test__questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.test__questions {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.test__quest {
  width: 36px;
  height: 36px;
  margin-right: 5px;
  margin-bottom: 5px;
  background: #ebebeb;
  border-radius: 4px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #212a34
}

.test__quest.pass {
  background: #fab706
}

.test__quest.current {
  background: #ed5736;
  color: #fff
}

.test__quest:nth-child(6n) {
  margin-right: 0
}

.test__recomendation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 10px
}

.test__recomendation-more {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.test__recomendation-more .test__title {
  margin-bottom: 20px
}

.test__recomendation .course {
  width: 386px;
  margin-right: 30px
}

.answer,.answers,.test__recomendation-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.answers {
  padding-bottom: 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.answer {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 26px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  -ms-flex-item-align: baseline;
  align-self: baseline
}

.answer__text,.select {
  line-height: 140%;
  color: #212a34
}

.answer__text {
  font-size: 15px;
  padding-left: 36px
}

.answer__text::after,.answer__text::before {
  content: "";
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s
}

.answer__text::before {
  width: 26px;
  height: 26px;
  left: 0;
  top: 0;
  border: 1px solid #b6b6b6
}

.answer__text::after {
  width: 14px;
  height: 14px;
  left: 7px;
  top: 7px;
  background: #fab706;
  -webkit-transform: scale(0);
  transform: scale(0)
}

.answer input,.lendingtext .reviews__content-more::before {
  display: none
}

.result{
  padding-bottom: 30px;
  &__result{
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    width: 100%;
    &::before{
      content: '';
      height: 2px;
      width: 100%;
      background: #E5E7EB;
      position: absolute;
      left: 0;
      top: calc(50% - 1px);
      z-index: -1;
    }
  }
  &__result span{
    text-transform: uppercase;
    color: #FAB706;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    display: inline-block;
    padding-right: 16px;
    background: #fff;
  }
  .button{
    display: inline-block;
  }
  &__container{
    padding: 32px 48px;
    background: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
  }
  
  .title{
    font-size: 30px;
    line-height: 36px;
    color: #212A34;
    margin-bottom: 30px;
    font-weight: 900;
  }
  &__title{
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    &:not(:last-child){
      margin-bottom: 10px;
    }
  }
  &__tags{
    display: flex;
    flex-wrap: wrap;
  }
  &__tag{
    font-size: 15px;
    line-height: 150%;
    color: #212A34;
    background: rgba(250, 183, 6, 0.8);
    border-radius: 3px;
    padding: 2px 10px;
    margin-right: 8px;
    margin-bottom: 8px;
  }
  &__strong{
    li::before{
      background-image: url('@/assets/img/result-strong.svg');
    }
  }
  &__update{
    li::before{
      background-image: url('@/assets/img/result-bolt.svg');
    }
  }
  &__block{
    margin-bottom: 30px;
  }
  ul{
    padding-left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li{
    font-size: 18px;
    line-height: 24px;
    color: #212A34;
    padding-left: 32px;
    position: relative;
    &::before{
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
      content: '';
      top: calc(50% - 10px);
      background-size: contain;
    }
    &:not(:last-child){
      margin-bottom: 10px;
    }
  }
}

.progress{
  display: flex;
  flex-direction: column;
  margin-bottom: 27px;
  width: 100%;
  &__header{
    display: flex;
    align-items: center;
    width: 100%;
  }
  &__stat{
    margin-left: auto;
    font-size: 12px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #6B7280;
    & > * {
      margin-right: 3px;
      margin-left: 3px;
    }
  }
  &__percent{
    font-size: 16px;
    line-height: 28px;
    margin-right: 6px;
    color: #6B7280;
  }
  &__title{
    font-size: 16px;
    line-height: 28px;
    color: #FAB706;
    margin-right: 10px;
  }
  &__bar{
    margin-top: 5px;
    width: 100%;
    height: 12px;
    background: #E0E0E0;
    border-radius: 64px;
    display: block;
    &-line{
      height: 100%;
      border-radius: 64px;
      background: #FAB706;
      display: block;
      transition: 0.3s;
    }
  }
}

.disabled{
  opacity: 0.6;
  pointer-events: none;
}