{% extends "templates/layouts/base.twig" %}

{% set title = "Связаться с директором" %}
{% set isAuthorized = true %}

{% block content %}
  <div class="wrapper">
    <form action="" class="form" data-validation="form">
      <div class="title">
        Связаться с директором
      </div>
      <input type="text" name="email" class="input" autocomplete="off" placeholder="E-mail" data-validation="email" required>
      <textarea name="text" class="textarea" placeholder="Текст сообщения" data-validation="text"></textarea>
      <button type="submit" class="button disabled">
        Отправить
      </button>
    </form>
  </div>
{% endblock %}
