<nav class="new-breadcrumbs">
  <div class="new-breadcrumbs__item">
    <a href="/">
      <svg xmlns="http://www.w3.org/2000/svg" width="19" height="20" viewBox="0 0 19 20" fill="none">
        <path d="M1.78125 10.0002L8.87023 2.91125C9.21804 2.56344 9.78196 2.56344 10.1298 2.91125L17.2187 10.0002M3.5625 8.21898V16.2346C3.5625 16.7265 3.96125 17.1252 4.45312 17.1252H7.71875V13.2659C7.71875 12.774 8.1175 12.3752 8.60937 12.3752H10.3906C10.8825 12.3752 11.2812 12.774 11.2812 13.2659V17.1252H14.5469C15.0388 17.1252 15.4375 16.7265 15.4375 16.2346V8.21898M6.53125 17.1252H13.0625" stroke="#6B7280" stroke-width="1.1875" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
    </a>
  </div>
  {% for link in links %}
    <div class="new-breadcrumbs__arrow">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.29289 14.7071C6.90237 14.3166 6.90237 13.6834 7.29289 13.2929L10.5858 10L7.29289 6.70711C6.90237 6.31658 6.90237 5.68342 7.29289 5.29289C7.68342 4.90237 8.31658 4.90237 8.70711 5.29289L12.7071 9.29289C13.0976 9.68342 13.0976 10.3166 12.7071 10.7071L8.70711 14.7071C8.31658 15.0976 7.68342 15.0976 7.29289 14.7071Z" fill="#6B7280"></path>
      </svg>
    </div>
    <div class="new-breadcrumbs__item {% if link.active %}active{% endif %}">
      <a href="{{link.link}}">{{link.text}}</a>
    </div>
  {% endfor %}
</nav>