<div class="new-catalog-item">
  <div class="new-catalog-img">
    <div class="catalog-img">
      <img src="./src/assets/img/course.png" alt="" />
    </div>
    <div class="new-catalog-guard">
      <img src="./src/assets/img/guard.svg" alt="">
    </div>
    <div class="new-catalog-tag">Программирование</div>
    <div class="new-catalog-buttons">
      <div class="new-catalog-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="19"
          height="18"
          viewBox="0 0 19 18"
          fill="none"
        >
          <path
            d="M3.00323 9.93228C3.00323 9.47209 3.37629 9.09904 3.83648 9.09904H5.50296C5.96315 9.09904 6.3362 9.47209 6.3362 9.93228V14.9317C6.3362 15.3919 5.96315 15.765 5.50296 15.765H3.83648C3.37629 15.765 3.00323 15.3919 3.00323 14.9317V9.93228Z"
            stroke-width="1.11099"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M8.00269 6.59931C8.00269 6.13913 8.37574 5.76607 8.83593 5.76607H10.5024C10.9626 5.76607 11.3357 6.13913 11.3357 6.59931V14.9317C11.3357 15.3919 10.9626 15.765 10.5024 15.765H8.83593C8.37574 15.765 8.00269 15.3919 8.00269 14.9317V6.59931Z"
            stroke-width="1.11099"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M13.0021 3.26635C13.0021 2.80616 13.3752 2.43311 13.8354 2.43311H15.5019C15.962 2.43311 16.3351 2.80616 16.3351 3.26635V14.9317C16.3351 15.3919 15.962 15.765 15.5019 15.765H13.8354C13.3752 15.765 13.0021 15.3919 13.0021 14.9317V3.26635Z"
            stroke-width="1.11099"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="new-catalog-button"> <!-- .active -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="19"
          height="18"
          viewBox="0 0 19 18"
          fill="none"
        >
          <path
            d="M16.5175 6.32125C16.5175 4.4805 14.9631 2.98828 13.0456 2.98828C11.612 2.98828 10.3813 3.82247 9.85154 5.01281C9.32176 3.82247 8.09108 2.98828 6.65745 2.98828C4.74 2.98828 3.18561 4.4805 3.18561 6.32125C3.18561 11.6692 9.85154 15.2092 9.85154 15.2092C9.85154 15.2092 16.5175 11.6692 16.5175 6.32125Z"
            stroke-width="1.11099"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
    <div class="new-catalog-tooltip">
      <div class="new-catalog-tooltip-text">
        Уникальные методики сборных команд России, проверенные десят
      </div>
    </div>
  </div>
  <div class="new-catalog-body">
    <div class="new-catalog-title">
      Веб-разработчик с гарантией трудоустройства
    </div>
    <div class="new-catalog-text">
      Уникальные методики сборных команд России, проверенные десят
    </div>
    <div class="new-catalog-footer">
      <div class="new-catalog-author">
        <div class="authors">
          <div class="authors__imgs">
            <div class="new-catalog-author-img active">
              <img src="./src/assets/img/avatar.jpg" alt="" />
            </div>
            <div class="new-catalog-author-img">
              <img src="./src/assets/img/author-img1.jpg" alt="" />
            </div>
          </div>
          <div class="authors__names">
            <div class="new-catalog-author-name active">Skypro</div>
            <div class="new-catalog-author-name">Джули По</div>
          </div>
        </div>
      </div>
      <div class="new-catalog-raiting">
        <div class="new-catalog-rait-num">8.1</div>
        <div class="new-catalog-rait-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="13"
            height="12"
            viewBox="0 0 13 12"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.39138 1.73164C7.19874 1.26849 6.54263 1.26849 6.34999 1.73164L5.25164 4.37241L2.40071 4.60096C1.90069 4.64105 1.69794 5.26505 2.0789 5.59138L4.25101 7.45202L3.5874 10.234C3.47101 10.722 4.00181 11.1076 4.4299 10.8462L6.87068 9.35533L9.31147 10.8462C9.73956 11.1076 10.2704 10.722 10.154 10.234L9.49036 7.45202L11.6625 5.59138C12.0434 5.26505 11.8407 4.64105 11.3407 4.60096L8.48973 4.37241L7.39138 1.73164Z"
              fill="#FAB706"
            />
          </svg>
        </div>
        <div class="new-catalog-rait-count">(7)</div>
      </div>
    </div>
    <div class="new-catalog-statuses">
      <div class="new-catalog-day">Завтра</div>
      <div class="new-catalog-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M7.09646 3.38753C7.70621 2.68629 8.60605 2.2417 9.60978 2.2417C10.6134 2.2417 11.5133 2.68625 12.123 3.38742C13.0501 3.32265 14.0009 3.64455 14.7107 4.35436C15.4205 5.06417 15.7424 6.01493 15.6776 6.94203C16.3787 7.55177 16.8232 8.45151 16.8232 9.45511C16.8232 10.4589 16.3785 11.3588 15.6772 11.9685C15.7419 12.8955 15.4199 13.8461 14.7103 14.5557C14.0006 15.2654 13.05 15.5873 12.1231 15.5227C11.5133 16.2239 10.6135 16.6685 9.60978 16.6685C8.60612 16.6685 7.70633 16.224 7.09658 15.5228C6.16947 15.5876 5.21869 15.2657 4.50887 14.5559C3.79906 13.8461 3.47716 12.8953 3.54194 11.9682C2.84085 11.3585 2.39636 10.4587 2.39636 9.45511C2.39636 8.45146 2.84089 7.55168 3.54204 6.94193C3.47734 6.01491 3.79925 5.06423 4.509 4.35448C5.21875 3.64473 6.16943 3.32282 7.09646 3.38753ZM12.2808 8.113C12.4589 7.86363 12.4012 7.51708 12.1518 7.33896C11.9024 7.16084 11.5559 7.21859 11.3778 7.46796L8.98409 10.8191L7.78262 9.61763C7.56593 9.40094 7.2146 9.40094 6.99791 9.61763C6.78121 9.83433 6.78121 10.1857 6.99791 10.4023L8.66254 12.067C8.77788 12.1823 8.93811 12.2411 9.10067 12.2276C9.26322 12.2142 9.41162 12.1299 9.50642 11.9971L12.2808 8.113Z" fill="#BC9635"/>
        </svg>
        диплом гос. образца
      </div>
    </div>
    <table class="new-catalog-prices">
      <tr>
        <td>Цена в школе</td>
        <td>5000 ₽</td>
      </tr>
      <tr>
        <th>Цена у нас</th>
        <th>3000 ₽</th>
      </tr>
      <tr>
        <td>В рассрочку</td>
        <td>от 150 ₽/мес</td>
      </tr>
    </table>
    <a href="/" class="new-catalog-info">Узнать больше</a>
  </div>
</div>