<div class="new-catalog-item">
  <div class="new-catalog-img">
    <div class="catalog-img">
      <img src="./src/assets/img/course.png" alt="" />
    </div>
    <div class="new-catalog-tag">Программирование</div>
    <div class="new-catalog-buttons">
      <div class="new-catalog-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="19"
          height="18"
          viewBox="0 0 19 18"
          fill="none"
        >
          <path
            d="M3.00323 9.93228C3.00323 9.47209 3.37629 9.09904 3.83648 9.09904H5.50296C5.96315 9.09904 6.3362 9.47209 6.3362 9.93228V14.9317C6.3362 15.3919 5.96315 15.765 5.50296 15.765H3.83648C3.37629 15.765 3.00323 15.3919 3.00323 14.9317V9.93228Z"
            stroke-width="1.11099"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M8.00269 6.59931C8.00269 6.13913 8.37574 5.76607 8.83593 5.76607H10.5024C10.9626 5.76607 11.3357 6.13913 11.3357 6.59931V14.9317C11.3357 15.3919 10.9626 15.765 10.5024 15.765H8.83593C8.37574 15.765 8.00269 15.3919 8.00269 14.9317V6.59931Z"
            stroke-width="1.11099"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M13.0021 3.26635C13.0021 2.80616 13.3752 2.43311 13.8354 2.43311H15.5019C15.962 2.43311 16.3351 2.80616 16.3351 3.26635V14.9317C16.3351 15.3919 15.962 15.765 15.5019 15.765H13.8354C13.3752 15.765 13.0021 15.3919 13.0021 14.9317V3.26635Z"
            stroke-width="1.11099"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="new-catalog-button"> <!-- .active -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="19"
          height="18"
          viewBox="0 0 19 18"
          fill="none"
        >
          <path
            d="M16.5175 6.32125C16.5175 4.4805 14.9631 2.98828 13.0456 2.98828C11.612 2.98828 10.3813 3.82247 9.85154 5.01281C9.32176 3.82247 8.09108 2.98828 6.65745 2.98828C4.74 2.98828 3.18561 4.4805 3.18561 6.32125C3.18561 11.6692 9.85154 15.2092 9.85154 15.2092C9.85154 15.2092 16.5175 11.6692 16.5175 6.32125Z"
            stroke-width="1.11099"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
    <div class="new-catalog-tooltip">
      <div class="new-catalog-tooltip-text">
        Уникальные методики сборных команд России, проверенные десят
      </div>
    </div>
  </div>
  <div class="new-catalog-body">
    <div class="new-catalog-title">
      Веб-разработчик с гарантией трудоустройства
    </div>
    <div class="new-catalog-text">
      Уникальные методики сборных команд России, проверенные десят
    </div>
    <div class="new-catalog-statuses">
      <div class="new-catalog-day">Завтра</div>
      <div class="new-catalog-day">12.12</div>
      <div class="new-catalog-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="15"
          viewBox="0 0 16 15"
          fill="none"
        >
          <path
            d="M4.82352 8.96372C4.82352 8.65693 5.07223 8.40823 5.37902 8.40823H5.38643C5.69322 8.40823 5.94192 8.65693 5.94192 8.96372V8.97113C5.94192 9.27792 5.69322 9.52662 5.38643 9.52662H5.37902C5.07223 9.52662 4.82352 9.27792 4.82352 8.97113V8.96372Z"
            fill="#6B7280"
          />
          <path
            d="M5.37902 9.88955C5.07223 9.88955 4.82352 10.1383 4.82352 10.445V10.4524C4.82352 10.7592 5.07223 11.0079 5.37902 11.0079H5.38643C5.69322 11.0079 5.94192 10.7592 5.94192 10.4524V10.445C5.94192 10.1383 5.69322 9.88955 5.38643 9.88955H5.37902Z"
            fill="#6B7280"
          />
          <path
            d="M6.30484 8.96372C6.30484 8.65693 6.55355 8.40823 6.86034 8.40823H6.86774C7.17454 8.40823 7.42324 8.65693 7.42324 8.96372V8.97113C7.42324 9.27792 7.17454 9.52662 6.86774 9.52662H6.86034C6.55355 9.52662 6.30484 9.27792 6.30484 8.97113V8.96372Z"
            fill="#6B7280"
          />
          <path
            d="M6.86034 9.88955C6.55355 9.88955 6.30484 10.1383 6.30484 10.445V10.4524C6.30484 10.7592 6.55355 11.0079 6.86034 11.0079H6.86774C7.17454 11.0079 7.42324 10.7592 7.42324 10.4524V10.445C7.42324 10.1383 7.17454 9.88955 6.86774 9.88955H6.86034Z"
            fill="#6B7280"
          />
          <path
            d="M7.78616 7.4824C7.78616 7.17561 8.03487 6.92691 8.34166 6.92691H8.34906C8.65585 6.92691 8.90456 7.17561 8.90456 7.4824V7.48981C8.90456 7.7966 8.65585 8.04531 8.34906 8.04531H8.34166C8.03487 8.04531 7.78616 7.7966 7.78616 7.48981V7.4824Z"
            fill="#6B7280"
          />
          <path
            d="M8.34166 8.40823C8.03487 8.40823 7.78616 8.65693 7.78616 8.96372V8.97113C7.78616 9.27792 8.03487 9.52662 8.34166 9.52662H8.34906C8.65585 9.52662 8.90456 9.27792 8.90456 8.97113V8.96372C8.90456 8.65693 8.65585 8.40823 8.34906 8.40823H8.34166Z"
            fill="#6B7280"
          />
          <path
            d="M7.78616 10.445C7.78616 10.1383 8.03487 9.88955 8.34166 9.88955H8.34906C8.65585 9.88955 8.90456 10.1383 8.90456 10.445V10.4524C8.90456 10.7592 8.65585 11.0079 8.34906 11.0079H8.34166C8.03487 11.0079 7.78616 10.7592 7.78616 10.4524V10.445Z"
            fill="#6B7280"
          />
          <path
            d="M9.82298 6.92691C9.51618 6.92691 9.26748 7.17561 9.26748 7.4824V7.48981C9.26748 7.7966 9.51618 8.04531 9.82298 8.04531H9.83038C10.1372 8.04531 10.3859 7.7966 10.3859 7.48981V7.4824C10.3859 7.17561 10.1372 6.92691 9.83038 6.92691H9.82298Z"
            fill="#6B7280"
          />
          <path
            d="M9.26748 8.96372C9.26748 8.65693 9.51618 8.40823 9.82298 8.40823H9.83038C10.1372 8.40823 10.3859 8.65693 10.3859 8.96372V8.97113C10.3859 9.27792 10.1372 9.52662 9.83038 9.52662H9.82298C9.51618 9.52662 9.26748 9.27792 9.26748 8.97113V8.96372Z"
            fill="#6B7280"
          />
          <path
            d="M9.82298 9.88955C9.51618 9.88955 9.26748 10.1383 9.26748 10.445V10.4524C9.26748 10.7592 9.51618 11.0079 9.82298 11.0079H9.83038C10.1372 11.0079 10.3859 10.7592 10.3859 10.4524V10.445C10.3859 10.1383 10.1372 9.88955 9.83038 9.88955H9.82298Z"
            fill="#6B7280"
          />
          <path
            d="M10.7488 7.4824C10.7488 7.17561 10.9975 6.92691 11.3043 6.92691H11.3117C11.6185 6.92691 11.8672 7.17561 11.8672 7.4824V7.48981C11.8672 7.7966 11.6185 8.04531 11.3117 8.04531H11.3043C10.9975 8.04531 10.7488 7.7966 10.7488 7.48981V7.4824Z"
            fill="#6B7280"
          />
          <path
            d="M11.3043 8.40823C10.9975 8.40823 10.7488 8.65693 10.7488 8.96372V8.97113C10.7488 9.27792 10.9975 9.52662 11.3043 9.52662H11.3117C11.6185 9.52662 11.8672 9.27792 11.8672 8.97113V8.96372C11.8672 8.65693 11.6185 8.40823 11.3117 8.40823H11.3043Z"
            fill="#6B7280"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M5.19385 1.55713C5.50065 1.55713 5.74935 1.80583 5.74935 2.11262V3.03845H10.934V2.11262C10.934 1.80583 11.1827 1.55713 11.4895 1.55713C11.7962 1.55713 12.045 1.80583 12.045 2.11262V3.03845H12.2301C13.355 3.03845 14.2669 3.95036 14.2669 5.07526V11.3709C14.2669 12.4958 13.355 13.4077 12.2301 13.4077H4.4532C3.32829 13.4077 2.41638 12.4958 2.41638 11.3709V5.07526C2.41638 3.95036 3.32829 3.03845 4.4532 3.03845H4.63836V2.11262C4.63836 1.80583 4.88706 1.55713 5.19385 1.55713ZM4.4532 5.63076C3.94188 5.63076 3.52737 6.04526 3.52737 6.55658V11.3709C3.52737 11.8822 3.94188 12.2967 4.4532 12.2967H12.2301C12.7414 12.2967 13.1559 11.8822 13.1559 11.3709V6.55658C13.1559 6.04526 12.7414 5.63076 12.2301 5.63076H4.4532Z"
            fill="#6B7280"
          /></svg
        >6 месяцев
      </div>
      <div class="new-catalog-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="15"
          viewBox="0 0 16 15"
          fill="none"
        >
          <path
            d="M7.80101 3.83219C6.81094 2.94605 5.50351 2.40723 4.07022 2.40723C3.41615 2.40723 2.78829 2.51944 2.20483 2.72566V11.5863C2.78829 11.38 3.41615 11.2678 4.07022 11.2678C5.50351 11.2678 6.81094 11.8067 7.80101 12.6928M7.80101 3.83219C8.79107 2.94605 10.0985 2.40723 11.5318 2.40723C12.1859 2.40723 12.8137 2.51944 13.3972 2.72566V11.5863C12.8137 11.38 12.1859 11.2678 11.5318 11.2678C10.0985 11.2678 8.79107 11.8067 7.80101 12.6928M7.80101 3.83219V12.6928"
            stroke="#6B7280"
            stroke-width="0.932696"
            stroke-linecap="round"
            stroke-linejoin="round"
          /></svg
        >8 модулей
      </div>
      <div class="new-catalog-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none">
        <path d="M5.53049 7.73979L6.77896 9.05763L8.85975 5.98268M7.19512 1.86182C6.00186 3.05468 4.39056 3.7863 2.61738 3.7863C2.5892 3.7863 2.56107 3.78611 2.53298 3.78574C2.31769 4.47694 2.20122 5.21547 2.20122 5.98271C2.20122 9.25769 4.32325 12.0095 7.19512 12.7897C10.067 12.0095 12.189 9.25769 12.189 5.98271C12.189 5.21547 12.0726 4.47694 11.8573 3.78574C11.8292 3.78611 11.801 3.7863 11.7729 3.7863C9.99968 3.7863 8.38838 3.05468 7.19512 1.86182Z" stroke="#7a0000" stroke-width="1.10976" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        диплом гос. образца
      </div>
    </div>
    <a href="/" class="new-catalog-info">Узнать больше</a>
    <table class="new-catalog-prices">
      <tr>
        <td>Цена в школе</td>
        <td>5000 ₽</td>
      </tr>
      <tr>
        <th>Цена у нас</th>
        <th>3000 ₽</th>
      </tr>
      <tr>
        <td>В рассрочку</td>
        <td>от 150 ₽/мес</td>
      </tr>
    </table>
    <div class="new-catalog-footer">
      <div class="new-catalog-author">
        <div class="new-catalog-author-img">
          <img src="./src/assets/img/avatar.jpg" alt="" />
        </div>
        <div class="new-catalog-author-name">Джули По</div>
      </div>
      <div class="new-catalog-raiting">
        <div class="new-catalog-rait-num">8.1</div>
        <div class="new-catalog-rait-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="13"
            height="12"
            viewBox="0 0 13 12"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.39138 1.73164C7.19874 1.26849 6.54263 1.26849 6.34999 1.73164L5.25164 4.37241L2.40071 4.60096C1.90069 4.64105 1.69794 5.26505 2.0789 5.59138L4.25101 7.45202L3.5874 10.234C3.47101 10.722 4.00181 11.1076 4.4299 10.8462L6.87068 9.35533L9.31147 10.8462C9.73956 11.1076 10.2704 10.722 10.154 10.234L9.49036 7.45202L11.6625 5.59138C12.0434 5.26505 11.8407 4.64105 11.3407 4.60096L8.48973 4.37241L7.39138 1.73164Z"
              fill="#FAB706"
            />
          </svg>
        </div>
        <div class="new-catalog-rait-count">(7)</div>
      </div>
    </div>
  </div>
</div>