<footer class="footer">
  <div class="wrapper">
    <div class="footer__container">
      <div class="footer__links">
        <div class="footer__title">
          Главная
        </div>
        <a href="" class="footer__link">Пройти тест. Узнайте свои сильные стороны</a>
        <a href="" class="footer__link">Каталог курсов</a>
        <a href="" class="footer__link">Скидки</a>
        <a href="" class="footer__link">Бесплатно</a>
      </div>
      <div class="footer__socials">
        <a href="#" class="footer__social">
          <img src="./src/assets/img/vk.svg" alt="">
        </a>
        <a href="#" class="footer__social">
          <img src="./src/assets/img/yandex.svg" alt="">
        </a>
        <a href="#" class="footer__social">
          <img src="./src/assets/img/telegram.svg" alt="">
        </a>
      </div>
      <div class="footer__column">
        <a href="" class="logo">
          <img src="./src/assets/img/footer-logo.svg" alt="">
        </a> 
        <div class="footer__buttons">
          <a href="/contact" class="button">
            Связаться с нами
          </a>
          <a href="/director" class="button-white">
            Связаться с директором
          </a>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="copyright__text">
        © 2024 High Level Skills. Все права защищены.
      </div>
      <div class="copyright__info">
        <p>
          ООО «Информационные технологические системы»
        </p>
        <p>
          ОГРН 1197746586971
        </p>
        <p>
          107045 Россия, Москва, ул. Сретенка, 12
        </p>
      </div>
      <div class="copyright__links">
        <a href="">Политика конфиденциальности</a>
        <a href="">О персональных данных</a>
        <a href="">Договор оферты</a>
      </div>
    </div>
  </div>
</footer>