<div class="modal">
    <!-- .active -->
    <div class="modal__auth">
        <div class="title">
            Войти
        </div>
        <div class="text">
          Отправить код для входа на E-mail
        </div>
        <form class="modal__form">
          <input type="text" name="search" class="input" autocomplete="off" placeholder="E-mail" required>
          <div class="modal__buttons">
            <div class="button">
              Отправить код
            </div>
            <div class="button-border" data-modal-open=".modal__reg">
              У меня еще нет аккаунта
            </div>
          </div>
          <input type="text" name="search" class="input" autocomplete="off" placeholder="1234" required>
          <button type="submit" class="button-black submit-button">
            Войти
          </button>
        </form>
    </div>
</div>