<div class="modal">
    <!-- .active -->
    <div class="menu">
      <div class="menu__wrapper">
        <div class="menu__header">
          <div class="menu__button" data-modal-close>
            <svg xmlns="http://www.w3.org/2000/svg" width="33" height="34" viewBox="0 0 33 34" fill="none">
              <path d="M5.69995 8.74961C5.69995 8.51091 5.79477 8.282 5.96355 8.11321C6.13234 7.94443 6.36126 7.84961 6.59995 7.84961H26.4C26.6386 7.84961 26.8676 7.94443 27.0363 8.11321C27.2051 8.282 27.2999 8.51091 27.2999 8.74961C27.2999 8.98831 27.2051 9.21722 27.0363 9.386C26.8676 9.55479 26.6386 9.64961 26.4 9.64961H6.59995C6.36126 9.64961 6.13234 9.55479 5.96356 9.38601C5.79477 9.21722 5.69995 8.9883 5.69995 8.74961ZM5.69995 16.9996C5.69995 16.7609 5.79477 16.532 5.96355 16.3632C6.13234 16.1944 6.36126 16.0996 6.59995 16.0996H26.4C26.6386 16.0996 26.8676 16.1944 27.0363 16.3632C27.2051 16.532 27.2999 16.7609 27.2999 16.9996C27.2999 17.2383 27.2051 17.4672 27.0363 17.636C26.8676 17.8048 26.6386 17.8996 26.4 17.8996H6.59995C6.36126 17.8996 6.13234 17.8048 5.96355 17.636C5.79477 17.4672 5.69995 17.2383 5.69995 16.9996ZM5.69995 25.2496C5.69995 25.0109 5.79477 24.782 5.96355 24.6132C6.13234 24.4444 6.36126 24.3496 6.59995 24.3496H26.4C26.6386 24.3496 26.8676 24.4444 27.0363 24.6132C27.2051 24.782 27.2999 25.0109 27.2999 25.2496C27.2999 25.4883 27.2051 25.7172 27.0363 25.886C26.8676 26.0548 26.6386 26.1496 26.4 26.1496H6.59995C6.36126 26.1496 6.13234 26.0548 5.96355 25.886C5.79477 25.7172 5.69995 25.4883 5.69995 25.2496Z" stroke-width="1.5"></path>
            </svg>
          </div>
          <div class="menu__logo">
            <img src="./src/assets/img/menu-logo.svg" alt="">
          </div>
        </div>
        <div class="menu__links">
          <a href="/" class="menu__link menu__link-border">
            <div class="menu__icon">
              <img src="./src/assets/img/home.svg" alt="">
            </div>
            <div class="menu__text">
              Главная
            </div>
          </a>
          <div class="menu__dropdown">
            <div class="menu__dropdown-button">
              <div class="menu__icon">
                <img src="./src/assets/img/currency-dollar.svg" alt="">
              </div>
              <div class="menu__text">
                Финансы
              </div>
              <div class="menu__arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M14.7698 12.7906C14.4713 13.0777 13.9965 13.0684 13.7094 12.7698L10 8.83208L6.29062 12.7698C6.00353 13.0684 5.52875 13.0777 5.23017 12.7906C4.93159 12.5035 4.92228 12.0287 5.20937 11.7302L9.45937 7.23017C9.60078 7.08311 9.79599 7 10 7C10.204 7 10.3992 7.08311 10.5406 7.23017L14.7906 11.7302C15.0777 12.0287 15.0684 12.5035 14.7698 12.7906Z" fill="#0F172A"/>
                </svg>
              </div>
            </div>
            <div class="menu__dropdown-list">
              <a href="#">Планирование</a>
              <a href="#">Управление</a>
              <a href="#">Инвестиции</a>
              <a href="#">Стратегии</a>
            </div>
          </div>
          <a href="#" class="menu__link">
            <div class="menu__icon">
              <img src="./src/assets/img/trophy.svg" alt="">
            </div>
            <div class="menu__text">
              Личностный рост
            </div>
          </a>
          <a href="#" class="menu__link">
            <div class="menu__icon">
              <img src="./src/assets/img/briefcase.svg" alt="">
            </div>
            <div class="menu__text">
              Бизнес-обучение
            </div>
          </a>
          <a href="#" class="menu__link">
            <div class="menu__icon">
              <img src="./src/assets/img/bolt.svg" alt="">
            </div>
            <div class="menu__text">
              Здоровье и спорт
            </div>
          </a>
          <a href="#" class="menu__link">
            <div class="menu__icon">
              <img src="./src/assets/img/computer-desktop.svg" alt="">
            </div>
            <div class="menu__text">
              IT-разработка
            </div>
          </a>
          <a href="#" class="menu__link">
            <div class="menu__icon">
              <img src="./src/assets/img/academic-cap.svg" alt="">
            </div>
            <div class="menu__text">
              Создание онлайн школы
            </div>
          </a>
        </div>
      </div>
    </div>
</div>