<div class="modal">
    <!-- .active -->
    <div class="modal__reg">
        <div class="title">
            Регистрация
        </div>
        <div class="text">
          При регистрации необходимо указывать действующий адрес электронной почты к которой вы имеете доступ.
        </div>
        <form class="modal__form">
          <input type="text" name="search" class="input" autocomplete="off" placeholder="Имя" required>
          <input type="text" name="search" class="input" autocomplete="off" placeholder="E-mail" required>
          <div class="modal__buttons">
            <button type="submit" class="button reg-button">
              Зарегистрироваться
            </button>
            <div class="button-border" data-modal-open=".modal__auth">
              У меня есть аккаунт
            </div>
          </div>
          <label class="checkbox">
            <input type="checkbox" required>
            <div class="checkbox__icon"></div>
            <div class="checkbox__text">
              Настоящим подтверждаю, что я ознакомлен с политикой конфиденциальности и согласен на обработку персональных данных
              в соответствии с <a href="#">указанным здесь текстом</a>
            </div>
          </label>
          <label class="checkbox">
            <input type="checkbox" required>
            <div class="checkbox__icon"></div>
            <div class="checkbox__text">
              Я даю <a href="#">согласие на получение рассылки</a> о предложениях, информации о продуктах/услугах и иной рекламной информации от ООО «Информационные технологические системы» (ОГРН 1197746586971) путем отправки сообщений по всем указанным мною при регистрации каналам
            </div>
          </label>
        </form>
    </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    const regButton = document.querySelector('.reg-button');
    regButton.addEventListener('click', (e) => {
      e.preventDefault();
      document.modalOpen('.modal__thanks');
    });
  });
</script>