<div class="modal">
    <!-- .active -->
    <div class="modal__thanks">
        <div class="title">
            Спасибо!
        </div>
        <div class="text">
          Вам необходимо <span>проверить почту</span> указанную при регистрации, а также папку СПАМ!
        </div>
    </div>
</div>