
.new-tabs {
  display: flex;
}

.new-tab {
  margin-right: 32px;
  padding-bottom: 16px;
  padding-left: 4px;
  padding-right: 4px;
  border-bottom: 2px solid transparent;
  margin-bottom: -1px;
  color: #6B7280;
}

.new-tab.active {
  border-bottom: 2px solid #FAB706;
  pointer-events: none;
  color: #212A34;
}
