{% extends "templates/layouts/test.twig" %}

{% set title = "Ошибка 404" %}
{% set isAuthorized = true %}

{% block content %}
	<div class="not-page">
		<div class="wrapper">
			<div class="not-page-title">
				404 ошибка
			</div>
			<div class="title">
				Страница не найдена
			</div>
			<div class="text">
				Извините, мы не смогли найти страницу, которую вы ищете.
			</div>
			<a href="/" class="button">
				На главную
			</a>
			<div class="not-page-img">
				<img src="./src/assets/img/404.svg" alt="">
			</div>
		</div>
	</div>
{% endblock %}
