{% extends "templates/layouts/test.twig" %}

{% set title = "Результат теста. Тревожная личность" %}
{% set isAuthorized = true %}

{% block content %}

  <div class="wrapper">
		{% block breadcrumbs %}
			{% include '../src/templates/partials/breadcrumbs.twig' with {'links': [
        {'link': '/test', 'text': 'Тест на тип личности', 'active': false},
        {'link': '/result1', 'text': 'Результат теста', 'active': true},
      ]} %}
		{% endblock %}
	</div>

  <div class="wrapper result">
    <div class="result__container">
      <div class="result__result">
        <span>Результат теста:</span>
      </div>
      <div class="title">
        Тревожная личность
      </div>
      <div class="result__block">
        <div class="result__title">
          Ваши сильные стороны
        </div>
        <ul class="result__strong">
          <li>Ответственность</li>
          <li>Сдержанность</li>
          <li>Детальность</li>
          <li>Усидчивость</li>
          <li>Трудолюбие</li>
        </ul>
      </div>
      <div class="result__block">
        <div class="result__title">
          Какие направления в работе вам подойдут?
        </div>
        <div class="result__tags">
          <div class="result__tag">
            Государственная служба в офисе
          </div>
          <div class="result__tag">
            Логистика
          </div>
          <div class="result__tag">
            Закупки
          </div>
          <div class="result__tag">
            Работа в кадрах с документами
          </div>
          <div class="result__tag">
            Бухгалтерия
          </div>
          <div class="result__tag">
            Инженерия
          </div>
        </div>
      </div>
      <div class="result__block">
        <div class="result__title">
          Но для того чтобы стать успешным в этих направлениях вам  стоит поработать над такими качествами как:
        </div>
        <ul class="result__update">
          <li>Тревожность</li>
          <li>Коммуникабельность</li>
          <li>Открытость</li>
          <li>Стрессоустойчивость</li>
          <li>Отстаивание своего мнения и видения</li>
          <li>Лидерские качества</li>
        </ul>
      </div>
      <div class="result__block">
        <div class="result__title">
          На основе результата теста, мы подобрали для вас следующие обучающие программы:
        </div>
      </div>
      <a href="/recommended" class="button">Посмотреть</a>
    </div>
  </div>

{% endblock %}
