{% extends "templates/layouts/test.twig" %}

{% set title = "Тест" %}
{% set isAuthorized = true %}

{% block content %}

  <div class="wrapper new-test">
    <form action="/result1" class="test__container">
      <div class="progress">
        <div class="progress__header">
          <div class="progress__percent">
            0%
          </div>
          <div class="progress__title">
            Пройдено
          </div>
          <div class="progress__stat">
            <div class="progress__current-question">
              1
            </div>
            из
            <div class="progress__total-question">
              1
            </div>
            вопросов
          </div>
        </div>
        <div class="progress__bar">
          <span class="progress__bar-line" style="width: 0px"></span>
        </div>
      </div>
      <div class="title">Проверка ваших личных качеств</div>
      <div class="test__block active">
        <div class="test__title">Вопрос №1</div>
        <div class="test__text">
          Вы часто сомневаетесь при принятии решений, вам нужно опросить
          друзей и близких, услышать ещё чьё-то мнение. Вас посещает много
          сомнений после уже окончательного решения по какому-либо вопросу?
        </div>
        <div class="answers">
          <label class="answer new-answer">
            <input type="radio" name="test1" value="1">
            <span class="answer__icon"></span>
            <span class="answer__text">Да</span>
          </label>
          <label class="answer new-answer">
            <input type="radio" name="test1" value="2">
            <span class="answer__icon"></span>
            <span class="answer__text">Скорее да</span>
          </label>
          <label class="answer new-answer">
            <input type="radio" name="test1" value="3">
            <span class="answer__icon"></span>
            <span class="answer__text">Нет</span>
          </label>
          <label class="answer new-answer">
            <input type="radio" name="test1" value="4">
            <span class="answer__icon"></span>
            <span class="answer__text">Скорее нет</span>
          </label>
        </div>
        <button type="button" class="button button-yellow test-button disabled">Принять</button>
      </div>
      <div class="test__block">
        <div class="test__title">Вопрос №2</div>
        <div class="test__text">
          Вы часто сомневаетесь при принятии решений, вам нужно опросить
          друзей и близких, услышать ещё чьё-то мнение. Вас посещает много
          сомнений после уже окончательного решения по какому-либо вопросу?
        </div>
        <div class="answers">
          <label class="answer new-answer">
            <input type="radio" name="test2" value="1">
            <span class="answer__icon"></span>
            <span class="answer__text">Да</span>
          </label>
          <label class="answer new-answer">
            <input type="radio" name="test2" value="2">
            <span class="answer__icon"></span>
            <span class="answer__text">Скорее да</span>
          </label>
          <label class="answer new-answer">
            <input type="radio" name="test2" value="3">
            <span class="answer__icon"></span>
            <span class="answer__text">Нет</span>
          </label>
          <label class="answer new-answer">
            <input type="radio" name="test2" value="4">
            <span class="answer__icon"></span>
            <span class="answer__text">Скорее нет</span>
          </label>
        </div>
        <button type="submit" class="button button-yellow test-button disabled">Принять</button>
      </div>
    </form>
  </div>

{% endblock %}
