<div class="reviews anchor-link" id="reviews">
  <div class="wrapper">
  <h2 class="reviews__title">
    Отзывы
  </h2>
    <div class="new-slider new-slider-reviews">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="reviews__item">
              <div class="reviews__author">
                <div class="reviews__photo">
                  <img src="./src/assets/img/author-img1.jpg" alt="">
                </div>
                <div class="reviews__info">
                  <div class="reviews__name">Алина Винник</div>
                  <div class="reviews__rating">
                    <b>8.1</b>
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M8.80305 3.27076C8.54296 2.64543 7.65711 2.64543 7.39702 3.27076L5.91408 6.83618L2.06491 7.14476C1.38981 7.19888 1.11607 8.04138 1.63042 8.48197L4.56309 10.9941L3.66711 14.7503C3.50997 15.409 4.22663 15.9297 4.80461 15.5767L8.10004 13.5639L11.3955 15.5767C11.9734 15.9297 12.6901 15.409 12.533 14.7503L11.637 10.9941L14.5697 8.48197C15.084 8.04138 14.8103 7.19888 14.1352 7.14476L10.286 6.83618L8.80305 3.27076Z" fill="#FAB706"/>
                    </svg>  
                    (7)
                  </div>
                </div>
              </div>
              <div class="reviews__course">
                Курс «Оздоровительная гимнастика»
              </div>
              <div class="reviews__text">
                Курс превзошел мои ожидания! У Кристины широкий спектр упражнений, которые помогли улучшить мою физическую форму и общее самочувствие!
              </div>
              <div class="reviews__videos">
                <a href="https://www.youtube.com/watch?v=J4jS0KnuSdk" class="reviews__video" data-fancybox>
                  <img src="./src/assets/img/video-review.png" alt="">
                </a>
                <a href="https://www.youtube.com/watch?v=J4jS0KnuSdk" class="reviews__video" data-fancybox>
                  <img src="./src/assets/img/video-review.png" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="reviews__item">
              <div class="reviews__author">
                <div class="reviews__photo">
                  <img src="./src/assets/img/author-img1.jpg" alt="">
                </div>
                <div class="reviews__info">
                  <div class="reviews__name">Алина Винник</div>
                  <div class="reviews__rating">
                    <b>8.1</b>
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M8.80305 3.27076C8.54296 2.64543 7.65711 2.64543 7.39702 3.27076L5.91408 6.83618L2.06491 7.14476C1.38981 7.19888 1.11607 8.04138 1.63042 8.48197L4.56309 10.9941L3.66711 14.7503C3.50997 15.409 4.22663 15.9297 4.80461 15.5767L8.10004 13.5639L11.3955 15.5767C11.9734 15.9297 12.6901 15.409 12.533 14.7503L11.637 10.9941L14.5697 8.48197C15.084 8.04138 14.8103 7.19888 14.1352 7.14476L10.286 6.83618L8.80305 3.27076Z" fill="#FAB706"/>
                    </svg>  
                    (7)
                  </div>
                </div>
              </div>
              <div class="reviews__course">
                Курс «Оздоровительная гимнастика»
              </div>
              <div class="reviews__text">
                Курс превзошел мои ожидания! У Кристины широкий спектр упражнений, которые помогли улучшить мою физическую форму и общее самочувствие!
              </div>
              <div class="reviews__videos">
                <a href="https://www.youtube.com/watch?v=J4jS0KnuSdk" class="reviews__video" data-fancybox>
                  <img src="./src/assets/img/video-review.png" alt="">
                </a>
                <a href="https://www.youtube.com/watch?v=J4jS0KnuSdk" class="reviews__video" data-fancybox>
                  <img src="./src/assets/img/video-review.png" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="reviews__item">
              <div class="reviews__author">
                <div class="reviews__photo">
                  <img src="./src/assets/img/author-img1.jpg" alt="">
                </div>
                <div class="reviews__info">
                  <div class="reviews__name">Алина Винник</div>
                  <div class="reviews__rating">
                    <b>8.1</b>
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M8.80305 3.27076C8.54296 2.64543 7.65711 2.64543 7.39702 3.27076L5.91408 6.83618L2.06491 7.14476C1.38981 7.19888 1.11607 8.04138 1.63042 8.48197L4.56309 10.9941L3.66711 14.7503C3.50997 15.409 4.22663 15.9297 4.80461 15.5767L8.10004 13.5639L11.3955 15.5767C11.9734 15.9297 12.6901 15.409 12.533 14.7503L11.637 10.9941L14.5697 8.48197C15.084 8.04138 14.8103 7.19888 14.1352 7.14476L10.286 6.83618L8.80305 3.27076Z" fill="#FAB706"/>
                    </svg>  
                    (7)
                  </div>
                </div>
              </div>
              <div class="reviews__course">
                Курс «Оздоровительная гимнастика»
              </div>
              <div class="reviews__text">
                Курс превзошел мои ожидания! У Кристины широкий спектр упражнений, которые помогли улучшить мою физическую форму и общее самочувствие!
              </div>
              <div class="reviews__videos">
                <a href="https://www.youtube.com/watch?v=J4jS0KnuSdk" class="reviews__video" data-fancybox>
                  <img src="./src/assets/img/video-review.png" alt="">
                </a>
                <a href="https://www.youtube.com/watch?v=J4jS0KnuSdk" class="reviews__video" data-fancybox>
                  <img src="./src/assets/img/video-review.png" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
          <rect x="50" y="50" width="50" height="50" rx="25" transform="rotate(-180 50 50)" fill="#1F2A37"></rect>
          <path d="M28.125 32.292L20.8333 25.0003L28.125 17.7087" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="51" viewBox="0 0 50 51" fill="none">
          <rect y="0.5" width="50" height="50" rx="25" fill="#1F2A37"></rect>
          <path d="M21.875 18.208L29.1667 25.4997L21.875 32.7913" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </div>
    </div>
  </div>
</div>