<div class="author-slider anchor-link" id="author">
  <div class="wrapper">
    <div class="new-slider new-slider-big">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="author-slide">
              <div class="author-card">
                <div class="author-card-img">
                  <img src="./src/assets/img/card-header.png" alt="" />
                </div>
                <div class="author-card-body">
                  <div class="author-card-name">Кристина Ким</div>
                  <div class="author-card-rait">
                    <div class="author-card-rait-num">7.5</div>
                    <div class="author-card-rait-icon">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="17"
                        height="17"
                        viewBox="0 0 17 17"
                        fill="none"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M9.09187 3.13062C8.83178 2.50529 7.94593 2.50529 7.68584 3.13062L6.2029 6.69604L2.35373 7.00463C1.67863 7.05875 1.40489 7.90124 1.91924 8.34184L4.85191 10.854L3.95593 14.6101C3.79879 15.2689 4.51545 15.7896 5.09343 15.4366L8.38886 13.4237L11.6843 15.4366C12.2623 15.7896 12.9789 15.2689 12.8218 14.6101L11.9258 10.854L14.8585 8.34184C15.3728 7.90124 15.0991 7.05875 14.424 7.00463L10.5748 6.69604L9.09187 3.13062Z"
                          fill="#FAB706"
                        ></path>
                      </svg>
                    </div>
                    <div class="author-card-rait-count">(28)</div>
                  </div>
                  <div class="author-card-text">
                    Практикующий клинический психолог. Инструктор-методист
                    по оздоровительной физической культуре.
                  </div>
                </div>
              </div>
              <div class="author-info">
                <h2 class="author-title">
                    Об авторе
                </h2>
                <div class="author-item">
                    <div class="author-item-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M5 13L9 17L19 7" stroke="#FAB706" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="author-item-title">
                        Направления
                    </div>
                    <div class="author-item-tags">
                        <div class="author-item-tag">
                            Здоровье
                        </div>
                        <div class="author-item-tag">
                            Йога
                        </div>
                        <div class="author-item-tag">
                            Осанка
                        </div>
                        <div class="author-item-tag">
                            Гимнастика
                        </div>
                    </div>
                </div>
                <div class="author-item">
                    <div class="author-item-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M5 13L9 17L19 7" stroke="#FAB706" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="author-item-title">
                        Образование
                    </div>
                    <div class="author-item-text">
                        Университет Практической психологии и социологии «Урарту», Армения.Армянский государственный институт физической культуры. АНО Научно-исследовательский институт психологии и развития способностей, г.Рязань. РФАНО Институт Самовосстановления Человека. Практический курс по программе видео-компьютерного психоанализа Видикор-М.
                    </div>
                </div>
              </div>
              <div class="author-rewards">
                <div class="author-reward">
                    <div class="author-reward-title">
                        165+
                    </div>
                    <div class="author-reward-text">
                        студентов проходят обучение в настоящий момент
                    </div>
                </div>
                <div class="author-reward">
                    <div class="author-reward-title">
                        287+
                    </div>
                    <div class="author-reward-text">
                        студентов прошли обучение
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="author-slide">
              <div class="author-card">
                <div class="author-card-img">
                  <img src="./src/assets/img/card-header.png" alt="" />
                </div>
                <div class="author-card-body">
                  <div class="author-card-name">Кристина Ким</div>
                  <div class="author-card-rait">
                    <div class="author-card-rait-num">7.5</div>
                    <div class="author-card-rait-icon">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="17"
                        height="17"
                        viewBox="0 0 17 17"
                        fill="none"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M9.09187 3.13062C8.83178 2.50529 7.94593 2.50529 7.68584 3.13062L6.2029 6.69604L2.35373 7.00463C1.67863 7.05875 1.40489 7.90124 1.91924 8.34184L4.85191 10.854L3.95593 14.6101C3.79879 15.2689 4.51545 15.7896 5.09343 15.4366L8.38886 13.4237L11.6843 15.4366C12.2623 15.7896 12.9789 15.2689 12.8218 14.6101L11.9258 10.854L14.8585 8.34184C15.3728 7.90124 15.0991 7.05875 14.424 7.00463L10.5748 6.69604L9.09187 3.13062Z"
                          fill="#FAB706"
                        ></path>
                      </svg>
                    </div>
                    <div class="author-card-rait-count">(28)</div>
                  </div>
                  <div class="author-card-text">
                    Практикующий клинический психолог. Инструктор-методист
                    по оздоровительной физической культуре.
                  </div>
                </div>
              </div>
              <div class="author-info">
                <h2 class="author-title">
                    Об авторе
                </h2>
                <div class="author-item">
                    <div class="author-item-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M5 13L9 17L19 7" stroke="#FAB706" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="author-item-title">
                        Направления
                    </div>
                    <div class="author-item-tags">
                        <div class="author-item-tag">
                            Здоровье
                        </div>
                        <div class="author-item-tag">
                            Здоровье
                        </div>
                        <div class="author-item-tag">
                            Здоровье
                        </div>
                        <div class="author-item-tag">
                            Здоровье
                        </div>
                    </div>
                </div>
                <div class="author-item">
                    <div class="author-item-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M5 13L9 17L19 7" stroke="#FAB706" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="author-item-title">
                        Образование
                    </div>
                    <div class="author-item-text">
                        Университет Практической психологии и социологии «Урарту», Армения.Армянский государственный институт физической культуры. АНО Научно-исследовательский институт психологии и развития способностей, г.Рязань. РФАНО Институт Самовосстановления Человека. Практический курс по программе видео-компьютерного психоанализа Видикор-М.
                    </div>
                </div>
              </div>
              <div class="author-rewards">
                <div class="author-reward">
                    <div class="author-reward-title">
                        165+
                    </div>
                    <div class="author-reward-text">
                        студентов проходят обучение в настоящий момент
                    </div>
                </div>
                <div class="author-reward">
                    <div class="author-reward-title">
                        287+
                    </div>
                    <div class="author-reward-text">
                        студентов прошли обучение
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="50"
          height="50"
          viewBox="0 0 50 50"
          fill="none"
        >
          <rect
            x="50"
            y="50"
            width="50"
            height="50"
            rx="25"
            transform="rotate(-180 50 50)"
            fill="#1F2A37"
          />
          <path
            d="M28.125 32.292L20.8333 25.0003L28.125 17.7087"
            stroke="white"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="50"
          height="51"
          viewBox="0 0 50 51"
          fill="none"
        >
          <rect y="0.5" width="50" height="50" rx="25" fill="#1F2A37" />
          <path
            d="M21.875 18.208L29.1667 25.4997L21.875 32.7913"
            stroke="white"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
  </div>
</div>