<div class="wrapper anchor-link" id="course">
  <div class="banner">
    <h1 class="banner-title">Курс «Оздоровительная гимнастика»</h1>
    <div class="banner-tags">
      <div class="banner-tag">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 22 21" fill="none">
          <path d="M10.9373 5.42391C9.60052 4.22749 7.83529 3.5 5.90015 3.5C5.01705 3.5 4.16934 3.6515 3.38159 3.92993V15.8931C4.16934 15.6146 5.01705 15.4631 5.90015 15.4631C7.83529 15.4631 9.60052 16.1906 10.9373 17.387M10.9373 5.42391C12.274 4.22749 14.0392 3.5 15.9744 3.5C16.8575 3.5 17.7052 3.6515 18.4929 3.92993V15.8931C17.7052 15.6146 16.8575 15.4631 15.9744 15.4631C14.0392 15.4631 12.274 16.1906 10.9373 17.387M10.9373 5.42391V17.387" stroke="white" stroke-width="1.25928" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        3 модуля
      </div>
      <div class="banner-tag">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
          <path d="M4.38647 5.06237C4.38647 4.34931 5.15097 3.89728 5.77577 4.24092L15.3929 9.53035C16.0405 9.88653 16.0405 10.8171 15.3929 11.1733L5.77577 16.4627C5.15097 16.8063 4.38647 16.3543 4.38647 15.6412V5.06237Z" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        Видеоуроки
      </div>
    </div>
    <div class="banner-text">
      В вашем организме все вернется в естественное положение. Тело снанет
      гибким и энергичным, мышцы придут в тонус, а кожа подтянется.
    </div>
    <div class="banner-author">
      <div class="banner-author-img">
        <img src="./src/assets/img/author-img1.jpg" alt="">
      </div>
      <div class="banner-author-name">Кристина Ким</div>
      <div class="banner-rait">7.5</div>
      <div class="banner-rait-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.09187 3.13062C8.83178 2.50529 7.94593 2.50529 7.68584 3.13062L6.2029 6.69604L2.35373 7.00463C1.67863 7.05875 1.40489 7.90124 1.91924 8.34184L4.85191 10.854L3.95593 14.6101C3.79879 15.2689 4.51545 15.7896 5.09343 15.4366L8.38886 13.4237L11.6843 15.4366C12.2623 15.7896 12.9789 15.2689 12.8218 14.6101L11.9258 10.854L14.8585 8.34184C15.3728 7.90124 15.0991 7.05875 14.424 7.00463L10.5748 6.69604L9.09187 3.13062Z" fill="#FAB706"></path>
        </svg>
      </div>
      <div class="banner-rait-count">(28)</div>
    </div>
    <div class="banner-guard">
      <img src="./src/assets/img/guard.png" alt="">
    </div>
    <div class="banner-img">
      <img src="./src/assets/img/banner.png" alt="">
    </div>
    <div class="include-aside">
      <table class="include-aside-table">
        <tr>
          <td>Цена в школе</td>
          <td>5000 ₽</td>
        </tr>
        <tr>
          <th>Цена у нас</th>
          <th>3000 ₽</th>
        </tr>
        <tr>
          <td>В рассрочку</td>
          <td>от 150 ₽/мес</td>
        </tr>
      </table>
      <div class="include-discount">
        <div class="include-discount-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
            <path d="M9 15.1851L15 9.18506M19.5 5.69205V22.6851L15.75 21.1851L12 22.6851L8.25 21.1851L4.5 22.6851V5.69205C4.5 4.58406 5.30608 3.6352 6.40668 3.50747C8.24156 3.29452 10.108 3.18506 12 3.18506C13.892 3.18506 15.7584 3.29452 17.5933 3.50747C18.6939 3.6352 19.5 4.58406 19.5 5.69205ZM9.75 9.93506H9.7575V9.94256H9.75V9.93506ZM10.125 9.93506C10.125 10.1422 9.95711 10.3101 9.75 10.3101C9.54289 10.3101 9.375 10.1422 9.375 9.93506C9.375 9.72795 9.54289 9.56006 9.75 9.56006C9.95711 9.56006 10.125 9.72795 10.125 9.93506ZM14.25 14.4351H14.2575V14.4426H14.25V14.4351ZM14.625 14.4351C14.625 14.6422 14.4571 14.8101 14.25 14.8101C14.0429 14.8101 13.875 14.6422 13.875 14.4351C13.875 14.228 14.0429 14.0601 14.25 14.0601C14.4571 14.0601 14.625 14.228 14.625 14.4351Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </div>
        <div class="include-discount-old-price">5000 ₽</div>
        <div class="include-discount-count">-40%</div>
      </div>
      <div class="button button-yellow">Купить курс</div>
    </div>
  </div>
</div>