<div class="wrapper">
  <div class="banner">
    <div class="banner-title">Курс «Оздоровительная гимнастика»</div>
    <div class="banner-tags">
      <div class="banner-tag">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 22 21" fill="none">
          <path d="M10.9373 5.42391C9.60052 4.22749 7.83529 3.5 5.90015 3.5C5.01705 3.5 4.16934 3.6515 3.38159 3.92993V15.8931C4.16934 15.6146 5.01705 15.4631 5.90015 15.4631C7.83529 15.4631 9.60052 16.1906 10.9373 17.387M10.9373 5.42391C12.274 4.22749 14.0392 3.5 15.9744 3.5C16.8575 3.5 17.7052 3.6515 18.4929 3.92993V15.8931C17.7052 15.6146 16.8575 15.4631 15.9744 15.4631C14.0392 15.4631 12.274 16.1906 10.9373 17.387M10.9373 5.42391V17.387" stroke="white" stroke-width="1.25928" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        3 модуля
      </div>
      <div class="banner-tag">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
          <path d="M4.38647 5.06237C4.38647 4.34931 5.15097 3.89728 5.77577 4.24092L15.3929 9.53035C16.0405 9.88653 16.0405 10.8171 15.3929 11.1733L5.77577 16.4627C5.15097 16.8063 4.38647 16.3543 4.38647 15.6412V5.06237Z" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        Видеоуроки
      </div>
    </div>
    <div class="banner-text">
      В вашем организме все вернется в естественное положение. Тело снанет
      гибким и энергичным, мышцы придут в тонус, а кожа подтянется.
    </div>
    <div class="banner-author">
      <div class="banner-author-img">
        <img src="./src/assets/img/author-img1.jpg" alt="">
      </div>
      <div class="banner-author-name">Кристина Ким</div>
      <div class="banner-rait">7.5</div>
      <div class="banner-rait-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.09187 3.13062C8.83178 2.50529 7.94593 2.50529 7.68584 3.13062L6.2029 6.69604L2.35373 7.00463C1.67863 7.05875 1.40489 7.90124 1.91924 8.34184L4.85191 10.854L3.95593 14.6101C3.79879 15.2689 4.51545 15.7896 5.09343 15.4366L8.38886 13.4237L11.6843 15.4366C12.2623 15.7896 12.9789 15.2689 12.8218 14.6101L11.9258 10.854L14.8585 8.34184C15.3728 7.90124 15.0991 7.05875 14.424 7.00463L10.5748 6.69604L9.09187 3.13062Z" fill="#FAB706"></path>
        </svg>
      </div>
      <div class="banner-rait-count">(28)</div>
    </div>
    <div class="banner-guard">
      <img src="./src/assets/img/guard.png" alt="">
    </div>
    <div class="banner-img">
      <img src="./src/assets/img/banner.png" alt="">
    </div>
  </div>
</div>