<div class="wrapper">
  <div class="desc">
    <div class="desc-title">Описание курса</div>
    <div class="desc-desc">
      <div class="desc-item">
        Подтянутая кожа, мышцы в тонусе, энергичное и гибкое тело, суставы,
        позвоночник, связки и сухожилия в хорошем состоянии. Добиться этого
        можно без сверхусилий, ограничений и энергозатратных занятий
        фитнесом. Помогают в этом гимнастические комплексы оздоровления, с
        один из которых вы и познакомитесь на этом онлайн-курсе эксперта
        оздоровительных методик
      </div>
      <div class="desc-item">
        Программа рассчитана на людей разного возраста. Упражнения легко
        выполняются в домашних условиях и не требуют специального
        спортивного инвентаря. По данной методике занимаются тысячи людей.
        Эффект ощущается уже после первой тренировки. Гимнастика делает
        массаж внутренних органов и позвоночника, а еще используется для
        профилактики многих заболеваний.
      </div>
    </div>
    <div class="include-variant-title-big">
      <span>Онлайн-курс «Оздоровительная гимнастика», это:</span>
    </div>
    <div class="desc-list">
      <div class="desc-list-item">
        <div class="desc-list-item-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 18.9351C14.4183 18.9351 18 15.3533 18 10.9351C18 6.51678 14.4183 2.93506 10 2.93506C5.58172 2.93506 2 6.51678 2 10.9351C2 15.3533 5.58172 18.9351 10 18.9351ZM13.7071 9.64217C14.0976 9.25164 14.0976 8.61848 13.7071 8.22795C13.3166 7.83743 12.6834 7.83743 12.2929 8.22795L9 11.5208L7.70711 10.228C7.31658 9.83743 6.68342 9.83743 6.29289 10.228C5.90237 10.6185 5.90237 11.2516 6.29289 11.6422L8.29289 13.6422C8.68342 14.0327 9.31658 14.0327 9.70711 13.6422L13.7071 9.64217Z" fill="#FAB706"></path>
          </svg>
        </div>
        <div class="desc-list-item-text">
          Тренировки для укрепления суставов, позвоночника, связок,
          сухожилий.
        </div>
      </div>
      <div class="desc-list-item">
        <div class="desc-list-item-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 18.9351C14.4183 18.9351 18 15.3533 18 10.9351C18 6.51678 14.4183 2.93506 10 2.93506C5.58172 2.93506 2 6.51678 2 10.9351C2 15.3533 5.58172 18.9351 10 18.9351ZM13.7071 9.64217C14.0976 9.25164 14.0976 8.61848 13.7071 8.22795C13.3166 7.83743 12.6834 7.83743 12.2929 8.22795L9 11.5208L7.70711 10.228C7.31658 9.83743 6.68342 9.83743 6.29289 10.228C5.90237 10.6185 5.90237 11.2516 6.29289 11.6422L8.29289 13.6422C8.68342 14.0327 9.31658 14.0327 9.70711 13.6422L13.7071 9.64217Z" fill="#FAB706"></path>
          </svg>
        </div>
        <div class="desc-list-item-text">
          Тренировки для укрепления суставов, позвоночника, связок,
          сухожилий.
        </div>
      </div>
      <div class="desc-list-item">
        <div class="desc-list-item-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 18.9351C14.4183 18.9351 18 15.3533 18 10.9351C18 6.51678 14.4183 2.93506 10 2.93506C5.58172 2.93506 2 6.51678 2 10.9351C2 15.3533 5.58172 18.9351 10 18.9351ZM13.7071 9.64217C14.0976 9.25164 14.0976 8.61848 13.7071 8.22795C13.3166 7.83743 12.6834 7.83743 12.2929 8.22795L9 11.5208L7.70711 10.228C7.31658 9.83743 6.68342 9.83743 6.29289 10.228C5.90237 10.6185 5.90237 11.2516 6.29289 11.6422L8.29289 13.6422C8.68342 14.0327 9.31658 14.0327 9.70711 13.6422L13.7071 9.64217Z" fill="#FAB706"></path>
          </svg>
        </div>
        <div class="desc-list-item-text">
          Тренировки для укрепления суставов, позвоночника, связок,
          сухожилий.
        </div>
      </div>
      <div class="desc-list-item">
        <div class="desc-list-item-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 18.9351C14.4183 18.9351 18 15.3533 18 10.9351C18 6.51678 14.4183 2.93506 10 2.93506C5.58172 2.93506 2 6.51678 2 10.9351C2 15.3533 5.58172 18.9351 10 18.9351ZM13.7071 9.64217C14.0976 9.25164 14.0976 8.61848 13.7071 8.22795C13.3166 7.83743 12.6834 7.83743 12.2929 8.22795L9 11.5208L7.70711 10.228C7.31658 9.83743 6.68342 9.83743 6.29289 10.228C5.90237 10.6185 5.90237 11.2516 6.29289 11.6422L8.29289 13.6422C8.68342 14.0327 9.31658 14.0327 9.70711 13.6422L13.7071 9.64217Z" fill="#FAB706"></path>
          </svg>
        </div>
        <div class="desc-list-item-text">
          Тренировки для укрепления суставов, позвоночника, связок,
          сухожилий.
        </div>
      </div>
      <div class="desc-list-item">
        <div class="desc-list-item-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 18.9351C14.4183 18.9351 18 15.3533 18 10.9351C18 6.51678 14.4183 2.93506 10 2.93506C5.58172 2.93506 2 6.51678 2 10.9351C2 15.3533 5.58172 18.9351 10 18.9351ZM13.7071 9.64217C14.0976 9.25164 14.0976 8.61848 13.7071 8.22795C13.3166 7.83743 12.6834 7.83743 12.2929 8.22795L9 11.5208L7.70711 10.228C7.31658 9.83743 6.68342 9.83743 6.29289 10.228C5.90237 10.6185 5.90237 11.2516 6.29289 11.6422L8.29289 13.6422C8.68342 14.0327 9.31658 14.0327 9.70711 13.6422L13.7071 9.64217Z" fill="#FAB706"></path>
          </svg>
        </div>
        <div class="desc-list-item-text">
          Тренировки для укрепления суставов, позвоночника, связок,
          сухожилий.
        </div>
      </div>
    </div>
  </div>
</div>