<div class="wrapper">
  <div class="include">
    <div class="include-container">
      <h2 class="include-title">Этот курс включает:</h2>
      <div class="include-list">
        <div class="include-item">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 18.9351C14.4183 18.9351 18 15.3533 18 10.9351C18 6.51678 14.4183 2.93506 10 2.93506C5.58172 2.93506 2 6.51678 2 10.9351C2 15.3533 5.58172 18.9351 10 18.9351ZM13.7071 9.64217C14.0976 9.25164 14.0976 8.61848 13.7071 8.22795C13.3166 7.83743 12.6834 7.83743 12.2929 8.22795L9 11.5208L7.70711 10.228C7.31658 9.83743 6.68342 9.83743 6.29289 10.228C5.90237 10.6185 5.90237 11.2516 6.29289 11.6422L8.29289 13.6422C8.68342 14.0327 9.31658 14.0327 9.70711 13.6422L13.7071 9.64217Z" fill="#FAB706"></path>
          </svg>
          3 модуля
        </div>
        <div class="include-item">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 18.9351C14.4183 18.9351 18 15.3533 18 10.9351C18 6.51678 14.4183 2.93506 10 2.93506C5.58172 2.93506 2 6.51678 2 10.9351C2 15.3533 5.58172 18.9351 10 18.9351ZM13.7071 9.64217C14.0976 9.25164 14.0976 8.61848 13.7071 8.22795C13.3166 7.83743 12.6834 7.83743 12.2929 8.22795L9 11.5208L7.70711 10.228C7.31658 9.83743 6.68342 9.83743 6.29289 10.228C5.90237 10.6185 5.90237 11.2516 6.29289 11.6422L8.29289 13.6422C8.68342 14.0327 9.31658 14.0327 9.70711 13.6422L13.7071 9.64217Z" fill="#FAB706"></path>
          </svg>
          Обучение: в ЛК на GetCourse
        </div>
        <div class="include-item">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 18.9351C14.4183 18.9351 18 15.3533 18 10.9351C18 6.51678 14.4183 2.93506 10 2.93506C5.58172 2.93506 2 6.51678 2 10.9351C2 15.3533 5.58172 18.9351 10 18.9351ZM13.7071 9.64217C14.0976 9.25164 14.0976 8.61848 13.7071 8.22795C13.3166 7.83743 12.6834 7.83743 12.2929 8.22795L9 11.5208L7.70711 10.228C7.31658 9.83743 6.68342 9.83743 6.29289 10.228C5.90237 10.6185 5.90237 11.2516 6.29289 11.6422L8.29289 13.6422C8.68342 14.0327 9.31658 14.0327 9.70711 13.6422L13.7071 9.64217Z" fill="#FAB706"></path>
          </svg>
          Срок доступа: бессрочный
        </div>
        <div class="include-item">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 18.9351C14.4183 18.9351 18 15.3533 18 10.9351C18 6.51678 14.4183 2.93506 10 2.93506C5.58172 2.93506 2 6.51678 2 10.9351C2 15.3533 5.58172 18.9351 10 18.9351ZM13.7071 9.64217C14.0976 9.25164 14.0976 8.61848 13.7071 8.22795C13.3166 7.83743 12.6834 7.83743 12.2929 8.22795L9 11.5208L7.70711 10.228C7.31658 9.83743 6.68342 9.83743 6.29289 10.228C5.90237 10.6185 5.90237 11.2516 6.29289 11.6422L8.29289 13.6422C8.68342 14.0327 9.31658 14.0327 9.70711 13.6422L13.7071 9.64217Z" fill="#FAB706"></path>
          </svg>
          Когда учиться: в любой день в любое время
        </div>
        <div class="include-item">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 18.9351C14.4183 18.9351 18 15.3533 18 10.9351C18 6.51678 14.4183 2.93506 10 2.93506C5.58172 2.93506 2 6.51678 2 10.9351C2 15.3533 5.58172 18.9351 10 18.9351ZM13.7071 9.64217C14.0976 9.25164 14.0976 8.61848 13.7071 8.22795C13.3166 7.83743 12.6834 7.83743 12.2929 8.22795L9 11.5208L7.70711 10.228C7.31658 9.83743 6.68342 9.83743 6.29289 10.228C5.90237 10.6185 5.90237 11.2516 6.29289 11.6422L8.29289 13.6422C8.68342 14.0327 9.31658 14.0327 9.70711 13.6422L13.7071 9.64217Z" fill="#FAB706"></path>
          </svg>
          Тех. поддержка: чат в мессенджере
        </div>
        <div class="include-item">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 18.9351C14.4183 18.9351 18 15.3533 18 10.9351C18 6.51678 14.4183 2.93506 10 2.93506C5.58172 2.93506 2 6.51678 2 10.9351C2 15.3533 5.58172 18.9351 10 18.9351ZM13.7071 9.64217C14.0976 9.25164 14.0976 8.61848 13.7071 8.22795C13.3166 7.83743 12.6834 7.83743 12.2929 8.22795L9 11.5208L7.70711 10.228C7.31658 9.83743 6.68342 9.83743 6.29289 10.228C5.90237 10.6185 5.90237 11.2516 6.29289 11.6422L8.29289 13.6422C8.68342 14.0327 9.31658 14.0327 9.70711 13.6422L13.7071 9.64217Z" fill="#FAB706"></path>
          </svg>
          Доступ: сразу после оплаты
        </div>
      </div>
      <div class="include-variant-title-big">
        <span>Варианты участия:</span>
      </div>
      <div class="include-variants">
        <div class="include-variant">
          <div class="include-variant-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
              <path d="M5.25 12.4351C5.25 12.0208 5.58579 11.6851 6 11.6851H6.01C6.42421 11.6851 6.76 12.0208 6.76 12.4351V12.4451C6.76 12.8593 6.42421 13.1951 6.01 13.1951H6C5.58579 13.1951 5.25 12.8593 5.25 12.4451V12.4351Z" fill="#6B7280"></path>
              <path d="M6 13.6851C5.58579 13.6851 5.25 14.0208 5.25 14.4351V14.4451C5.25 14.8593 5.58579 15.1951 6 15.1951H6.01C6.42421 15.1951 6.76 14.8593 6.76 14.4451V14.4351C6.76 14.0208 6.42421 13.6851 6.01 13.6851H6Z" fill="#6B7280"></path>
              <path d="M7.25 12.4351C7.25 12.0208 7.58579 11.6851 8 11.6851H8.01C8.42421 11.6851 8.76 12.0208 8.76 12.4351V12.4451C8.76 12.8593 8.42421 13.1951 8.01 13.1951H8C7.58579 13.1951 7.25 12.8593 7.25 12.4451V12.4351Z" fill="#6B7280"></path>
              <path d="M8 13.6851C7.58579 13.6851 7.25 14.0208 7.25 14.4351V14.4451C7.25 14.8593 7.58579 15.1951 8 15.1951H8.01C8.42421 15.1951 8.76 14.8593 8.76 14.4451V14.4351C8.76 14.0208 8.42421 13.6851 8.01 13.6851H8Z" fill="#6B7280"></path>
              <path d="M9.25 10.4351C9.25 10.0208 9.58579 9.68506 10 9.68506H10.01C10.4242 9.68506 10.76 10.0208 10.76 10.4351V10.4451C10.76 10.8593 10.4242 11.1951 10.01 11.1951H10C9.58579 11.1951 9.25 10.8593 9.25 10.4451V10.4351Z" fill="#6B7280"></path>
              <path d="M10 11.6851C9.58579 11.6851 9.25 12.0208 9.25 12.4351V12.4451C9.25 12.8593 9.58579 13.1951 10 13.1951H10.01C10.4242 13.1951 10.76 12.8593 10.76 12.4451V12.4351C10.76 12.0208 10.4242 11.6851 10.01 11.6851H10Z" fill="#6B7280"></path>
              <path d="M9.25 14.4351C9.25 14.0208 9.58579 13.6851 10 13.6851H10.01C10.4242 13.6851 10.76 14.0208 10.76 14.4351V14.4451C10.76 14.8593 10.4242 15.1951 10.01 15.1951H10C9.58579 15.1951 9.25 14.8593 9.25 14.4451V14.4351Z" fill="#6B7280"></path>
              <path d="M12 9.68506C11.5858 9.68506 11.25 10.0208 11.25 10.4351V10.4451C11.25 10.8593 11.5858 11.1951 12 11.1951H12.01C12.4242 11.1951 12.76 10.8593 12.76 10.4451V10.4351C12.76 10.0208 12.4242 9.68506 12.01 9.68506H12Z" fill="#6B7280"></path>
              <path d="M11.25 12.4351C11.25 12.0208 11.5858 11.6851 12 11.6851H12.01C12.4242 11.6851 12.76 12.0208 12.76 12.4351V12.4451C12.76 12.8593 12.4242 13.1951 12.01 13.1951H12C11.5858 13.1951 11.25 12.8593 11.25 12.4451V12.4351Z" fill="#6B7280"></path>
              <path d="M12 13.6851C11.5858 13.6851 11.25 14.0208 11.25 14.4351V14.4451C11.25 14.8593 11.5858 15.1951 12 15.1951H12.01C12.4242 15.1951 12.76 14.8593 12.76 14.4451V14.4351C12.76 14.0208 12.4242 13.6851 12.01 13.6851H12Z" fill="#6B7280"></path>
              <path d="M13.25 10.4351C13.25 10.0208 13.5858 9.68506 14 9.68506H14.01C14.4242 9.68506 14.76 10.0208 14.76 10.4351V10.4451C14.76 10.8593 14.4242 11.1951 14.01 11.1951H14C13.5858 11.1951 13.25 10.8593 13.25 10.4451V10.4351Z" fill="#6B7280"></path>
              <path d="M14 11.6851C13.5858 11.6851 13.25 12.0208 13.25 12.4351V12.4451C13.25 12.8593 13.5858 13.1951 14 13.1951H14.01C14.4242 13.1951 14.76 12.8593 14.76 12.4451V12.4351C14.76 12.0208 14.4242 11.6851 14.01 11.6851H14Z" fill="#6B7280"></path>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5.75 2.43506C6.16421 2.43506 6.5 2.77085 6.5 3.18506V4.43506H13.5V3.18506C13.5 2.77085 13.8358 2.43506 14.25 2.43506C14.6642 2.43506 15 2.77085 15 3.18506V4.43506H15.25C16.7688 4.43506 18 5.66628 18 7.18506V15.6851C18 17.2038 16.7688 18.4351 15.25 18.4351H4.75C3.23122 18.4351 2 17.2038 2 15.6851V7.18506C2 5.66628 3.23122 4.43506 4.75 4.43506H5V3.18506C5 2.77085 5.33579 2.43506 5.75 2.43506ZM4.75 7.93506C4.05964 7.93506 3.5 8.4947 3.5 9.18506V15.6851C3.5 16.3754 4.05964 16.9351 4.75 16.9351H15.25C15.9404 16.9351 16.5 16.3754 16.5 15.6851V9.18506C16.5 8.4947 15.9404 7.93506 15.25 7.93506H4.75Z" fill="#6B7280"></path>
            </svg>
          </div>
          <div class="include-variant-title">1 месяц</div>
          <div class="include-variant-price">2 990 ₽</div>
        </div>
        <div class="include-variant">
          <div class="include-variant-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
              <path d="M5.25 12.4351C5.25 12.0208 5.58579 11.6851 6 11.6851H6.01C6.42421 11.6851 6.76 12.0208 6.76 12.4351V12.4451C6.76 12.8593 6.42421 13.1951 6.01 13.1951H6C5.58579 13.1951 5.25 12.8593 5.25 12.4451V12.4351Z" fill="#6B7280"></path>
              <path d="M6 13.6851C5.58579 13.6851 5.25 14.0208 5.25 14.4351V14.4451C5.25 14.8593 5.58579 15.1951 6 15.1951H6.01C6.42421 15.1951 6.76 14.8593 6.76 14.4451V14.4351C6.76 14.0208 6.42421 13.6851 6.01 13.6851H6Z" fill="#6B7280"></path>
              <path d="M7.25 12.4351C7.25 12.0208 7.58579 11.6851 8 11.6851H8.01C8.42421 11.6851 8.76 12.0208 8.76 12.4351V12.4451C8.76 12.8593 8.42421 13.1951 8.01 13.1951H8C7.58579 13.1951 7.25 12.8593 7.25 12.4451V12.4351Z" fill="#6B7280"></path>
              <path d="M8 13.6851C7.58579 13.6851 7.25 14.0208 7.25 14.4351V14.4451C7.25 14.8593 7.58579 15.1951 8 15.1951H8.01C8.42421 15.1951 8.76 14.8593 8.76 14.4451V14.4351C8.76 14.0208 8.42421 13.6851 8.01 13.6851H8Z" fill="#6B7280"></path>
              <path d="M9.25 10.4351C9.25 10.0208 9.58579 9.68506 10 9.68506H10.01C10.4242 9.68506 10.76 10.0208 10.76 10.4351V10.4451C10.76 10.8593 10.4242 11.1951 10.01 11.1951H10C9.58579 11.1951 9.25 10.8593 9.25 10.4451V10.4351Z" fill="#6B7280"></path>
              <path d="M10 11.6851C9.58579 11.6851 9.25 12.0208 9.25 12.4351V12.4451C9.25 12.8593 9.58579 13.1951 10 13.1951H10.01C10.4242 13.1951 10.76 12.8593 10.76 12.4451V12.4351C10.76 12.0208 10.4242 11.6851 10.01 11.6851H10Z" fill="#6B7280"></path>
              <path d="M9.25 14.4351C9.25 14.0208 9.58579 13.6851 10 13.6851H10.01C10.4242 13.6851 10.76 14.0208 10.76 14.4351V14.4451C10.76 14.8593 10.4242 15.1951 10.01 15.1951H10C9.58579 15.1951 9.25 14.8593 9.25 14.4451V14.4351Z" fill="#6B7280"></path>
              <path d="M12 9.68506C11.5858 9.68506 11.25 10.0208 11.25 10.4351V10.4451C11.25 10.8593 11.5858 11.1951 12 11.1951H12.01C12.4242 11.1951 12.76 10.8593 12.76 10.4451V10.4351C12.76 10.0208 12.4242 9.68506 12.01 9.68506H12Z" fill="#6B7280"></path>
              <path d="M11.25 12.4351C11.25 12.0208 11.5858 11.6851 12 11.6851H12.01C12.4242 11.6851 12.76 12.0208 12.76 12.4351V12.4451C12.76 12.8593 12.4242 13.1951 12.01 13.1951H12C11.5858 13.1951 11.25 12.8593 11.25 12.4451V12.4351Z" fill="#6B7280"></path>
              <path d="M12 13.6851C11.5858 13.6851 11.25 14.0208 11.25 14.4351V14.4451C11.25 14.8593 11.5858 15.1951 12 15.1951H12.01C12.4242 15.1951 12.76 14.8593 12.76 14.4451V14.4351C12.76 14.0208 12.4242 13.6851 12.01 13.6851H12Z" fill="#6B7280"></path>
              <path d="M13.25 10.4351C13.25 10.0208 13.5858 9.68506 14 9.68506H14.01C14.4242 9.68506 14.76 10.0208 14.76 10.4351V10.4451C14.76 10.8593 14.4242 11.1951 14.01 11.1951H14C13.5858 11.1951 13.25 10.8593 13.25 10.4451V10.4351Z" fill="#6B7280"></path>
              <path d="M14 11.6851C13.5858 11.6851 13.25 12.0208 13.25 12.4351V12.4451C13.25 12.8593 13.5858 13.1951 14 13.1951H14.01C14.4242 13.1951 14.76 12.8593 14.76 12.4451V12.4351C14.76 12.0208 14.4242 11.6851 14.01 11.6851H14Z" fill="#6B7280"></path>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5.75 2.43506C6.16421 2.43506 6.5 2.77085 6.5 3.18506V4.43506H13.5V3.18506C13.5 2.77085 13.8358 2.43506 14.25 2.43506C14.6642 2.43506 15 2.77085 15 3.18506V4.43506H15.25C16.7688 4.43506 18 5.66628 18 7.18506V15.6851C18 17.2038 16.7688 18.4351 15.25 18.4351H4.75C3.23122 18.4351 2 17.2038 2 15.6851V7.18506C2 5.66628 3.23122 4.43506 4.75 4.43506H5V3.18506C5 2.77085 5.33579 2.43506 5.75 2.43506ZM4.75 7.93506C4.05964 7.93506 3.5 8.4947 3.5 9.18506V15.6851C3.5 16.3754 4.05964 16.9351 4.75 16.9351H15.25C15.9404 16.9351 16.5 16.3754 16.5 15.6851V9.18506C16.5 8.4947 15.9404 7.93506 15.25 7.93506H4.75Z" fill="#6B7280"></path>
            </svg>
          </div>
          <div class="include-variant-title">3 месяца</div>
          <div class="include-variant-price">7 990 ₽</div>
        </div>
        <div class="include-variant">
          <div class="include-variant-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
              <path d="M5.25 12.4351C5.25 12.0208 5.58579 11.6851 6 11.6851H6.01C6.42421 11.6851 6.76 12.0208 6.76 12.4351V12.4451C6.76 12.8593 6.42421 13.1951 6.01 13.1951H6C5.58579 13.1951 5.25 12.8593 5.25 12.4451V12.4351Z" fill="#6B7280"></path>
              <path d="M6 13.6851C5.58579 13.6851 5.25 14.0208 5.25 14.4351V14.4451C5.25 14.8593 5.58579 15.1951 6 15.1951H6.01C6.42421 15.1951 6.76 14.8593 6.76 14.4451V14.4351C6.76 14.0208 6.42421 13.6851 6.01 13.6851H6Z" fill="#6B7280"></path>
              <path d="M7.25 12.4351C7.25 12.0208 7.58579 11.6851 8 11.6851H8.01C8.42421 11.6851 8.76 12.0208 8.76 12.4351V12.4451C8.76 12.8593 8.42421 13.1951 8.01 13.1951H8C7.58579 13.1951 7.25 12.8593 7.25 12.4451V12.4351Z" fill="#6B7280"></path>
              <path d="M8 13.6851C7.58579 13.6851 7.25 14.0208 7.25 14.4351V14.4451C7.25 14.8593 7.58579 15.1951 8 15.1951H8.01C8.42421 15.1951 8.76 14.8593 8.76 14.4451V14.4351C8.76 14.0208 8.42421 13.6851 8.01 13.6851H8Z" fill="#6B7280"></path>
              <path d="M9.25 10.4351C9.25 10.0208 9.58579 9.68506 10 9.68506H10.01C10.4242 9.68506 10.76 10.0208 10.76 10.4351V10.4451C10.76 10.8593 10.4242 11.1951 10.01 11.1951H10C9.58579 11.1951 9.25 10.8593 9.25 10.4451V10.4351Z" fill="#6B7280"></path>
              <path d="M10 11.6851C9.58579 11.6851 9.25 12.0208 9.25 12.4351V12.4451C9.25 12.8593 9.58579 13.1951 10 13.1951H10.01C10.4242 13.1951 10.76 12.8593 10.76 12.4451V12.4351C10.76 12.0208 10.4242 11.6851 10.01 11.6851H10Z" fill="#6B7280"></path>
              <path d="M9.25 14.4351C9.25 14.0208 9.58579 13.6851 10 13.6851H10.01C10.4242 13.6851 10.76 14.0208 10.76 14.4351V14.4451C10.76 14.8593 10.4242 15.1951 10.01 15.1951H10C9.58579 15.1951 9.25 14.8593 9.25 14.4451V14.4351Z" fill="#6B7280"></path>
              <path d="M12 9.68506C11.5858 9.68506 11.25 10.0208 11.25 10.4351V10.4451C11.25 10.8593 11.5858 11.1951 12 11.1951H12.01C12.4242 11.1951 12.76 10.8593 12.76 10.4451V10.4351C12.76 10.0208 12.4242 9.68506 12.01 9.68506H12Z" fill="#6B7280"></path>
              <path d="M11.25 12.4351C11.25 12.0208 11.5858 11.6851 12 11.6851H12.01C12.4242 11.6851 12.76 12.0208 12.76 12.4351V12.4451C12.76 12.8593 12.4242 13.1951 12.01 13.1951H12C11.5858 13.1951 11.25 12.8593 11.25 12.4451V12.4351Z" fill="#6B7280"></path>
              <path d="M12 13.6851C11.5858 13.6851 11.25 14.0208 11.25 14.4351V14.4451C11.25 14.8593 11.5858 15.1951 12 15.1951H12.01C12.4242 15.1951 12.76 14.8593 12.76 14.4451V14.4351C12.76 14.0208 12.4242 13.6851 12.01 13.6851H12Z" fill="#6B7280"></path>
              <path d="M13.25 10.4351C13.25 10.0208 13.5858 9.68506 14 9.68506H14.01C14.4242 9.68506 14.76 10.0208 14.76 10.4351V10.4451C14.76 10.8593 14.4242 11.1951 14.01 11.1951H14C13.5858 11.1951 13.25 10.8593 13.25 10.4451V10.4351Z" fill="#6B7280"></path>
              <path d="M14 11.6851C13.5858 11.6851 13.25 12.0208 13.25 12.4351V12.4451C13.25 12.8593 13.5858 13.1951 14 13.1951H14.01C14.4242 13.1951 14.76 12.8593 14.76 12.4451V12.4351C14.76 12.0208 14.4242 11.6851 14.01 11.6851H14Z" fill="#6B7280"></path>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5.75 2.43506C6.16421 2.43506 6.5 2.77085 6.5 3.18506V4.43506H13.5V3.18506C13.5 2.77085 13.8358 2.43506 14.25 2.43506C14.6642 2.43506 15 2.77085 15 3.18506V4.43506H15.25C16.7688 4.43506 18 5.66628 18 7.18506V15.6851C18 17.2038 16.7688 18.4351 15.25 18.4351H4.75C3.23122 18.4351 2 17.2038 2 15.6851V7.18506C2 5.66628 3.23122 4.43506 4.75 4.43506H5V3.18506C5 2.77085 5.33579 2.43506 5.75 2.43506ZM4.75 7.93506C4.05964 7.93506 3.5 8.4947 3.5 9.18506V15.6851C3.5 16.3754 4.05964 16.9351 4.75 16.9351H15.25C15.9404 16.9351 16.5 16.3754 16.5 15.6851V9.18506C16.5 8.4947 15.9404 7.93506 15.25 7.93506H4.75Z" fill="#6B7280"></path>
            </svg>
          </div>
          <div class="include-variant-title">6 месяцев</div>
          <div class="include-variant-price">13 990 ₽</div>
        </div>
      </div>
    </div>
    <div class="include-aside">
      <div class="include-aside-title">Цена курса в школе 5000 ₽</div>
      <div class="include-aside-price-title">
        Цена у нас:
      </div>
      <div class="include-aside-price">3000 ₽</div>
      <div class="include-discount">
        <div class="include-discount-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
            <path d="M9 15.1851L15 9.18506M19.5 5.69205V22.6851L15.75 21.1851L12 22.6851L8.25 21.1851L4.5 22.6851V5.69205C4.5 4.58406 5.30608 3.6352 6.40668 3.50747C8.24156 3.29452 10.108 3.18506 12 3.18506C13.892 3.18506 15.7584 3.29452 17.5933 3.50747C18.6939 3.6352 19.5 4.58406 19.5 5.69205ZM9.75 9.93506H9.7575V9.94256H9.75V9.93506ZM10.125 9.93506C10.125 10.1422 9.95711 10.3101 9.75 10.3101C9.54289 10.3101 9.375 10.1422 9.375 9.93506C9.375 9.72795 9.54289 9.56006 9.75 9.56006C9.95711 9.56006 10.125 9.72795 10.125 9.93506ZM14.25 14.4351H14.2575V14.4426H14.25V14.4351ZM14.625 14.4351C14.625 14.6422 14.4571 14.8101 14.25 14.8101C14.0429 14.8101 13.875 14.6422 13.875 14.4351C13.875 14.228 14.0429 14.0601 14.25 14.0601C14.4571 14.0601 14.625 14.228 14.625 14.4351Z" stroke="#6B7280" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </div>
        <div class="include-discount-old-price">3500 ₽</div>
        <div class="include-discount-count">-30%</div>
      </div>
      <div class="button button-yellow">Купить курс</div>
    </div>
  </div>
</div>