<div class="wrapper">
  <div class="info">
    <div class="info__title">
      Особенности учебного процесса
    </div>
    <div class="info__container">
      <div class="info__item">
        <div class="info__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
            <path d="M4.25933 11.0818C3.98688 13.1659 3.82139 15.2835 3.76853 17.4291C6.66451 18.6382 9.41893 20.1187 12 21.8387C14.5811 20.1187 17.3355 18.6382 20.2315 17.4291C20.1786 15.2835 20.0131 13.1659 19.7407 11.0819M4.25933 11.0818C3.38362 10.7875 2.49729 10.5163 1.60107 10.2689C4.84646 7.99405 8.32741 6.03238 12 4.42773C15.6727 6.03238 19.1536 7.99406 22.399 10.2689C21.5028 10.5163 20.6164 10.7875 19.7407 11.0819M4.25933 11.0818C6.94656 11.9851 9.5338 13.1061 12.0001 14.4238C14.4663 13.1061 17.0535 11.9851 19.7407 11.0819M6.75 15.9352C7.16421 15.9352 7.5 15.5994 7.5 15.1852C7.5 14.771 7.16421 14.4352 6.75 14.4352C6.33579 14.4352 6 14.771 6 15.1852C6 15.5994 6.33579 15.9352 6.75 15.9352ZM6.75 15.9352V12.2597C8.44147 11.2087 10.1936 10.2461 12 9.37847M4.99264 20.9278C6.16421 19.7562 6.75 18.2207 6.75 16.6852V15.1852" stroke="#0F172A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="info__text">
          <div class="info__item-title">
            Формат
          </div>
          <div class="info__item-text">
            Самостоятельно<br> 
            Видеоуроки<br>
            Обучение в ЛК на GetCourse
          </div>
        </div>
      </div>
      <div class="info__item">
        <div class="info__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
            <path d="M4.25933 11.0818C3.98688 13.1659 3.82139 15.2835 3.76853 17.4291C6.66451 18.6382 9.41893 20.1187 12 21.8387C14.5811 20.1187 17.3355 18.6382 20.2315 17.4291C20.1786 15.2835 20.0131 13.1659 19.7407 11.0819M4.25933 11.0818C3.38362 10.7875 2.49729 10.5163 1.60107 10.2689C4.84646 7.99405 8.32741 6.03238 12 4.42773C15.6727 6.03238 19.1536 7.99406 22.399 10.2689C21.5028 10.5163 20.6164 10.7875 19.7407 11.0819M4.25933 11.0818C6.94656 11.9851 9.5338 13.1061 12.0001 14.4238C14.4663 13.1061 17.0535 11.9851 19.7407 11.0819M6.75 15.9352C7.16421 15.9352 7.5 15.5994 7.5 15.1852C7.5 14.771 7.16421 14.4352 6.75 14.4352C6.33579 14.4352 6 14.771 6 15.1852C6 15.5994 6.33579 15.9352 6.75 15.9352ZM6.75 15.9352V12.2597C8.44147 11.2087 10.1936 10.2461 12 9.37847M4.99264 20.9278C6.16421 19.7562 6.75 18.2207 6.75 16.6852V15.1852" stroke="#0F172A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="info__text">
          <div class="info__item-title">
            Формат
          </div>
          <div class="info__item-text">
            Самостоятельно<br> 
            Видеоуроки<br>
            Обучение в ЛК на GetCourse
          </div>
        </div>
      </div>
      <div class="info__item">
        <div class="info__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
            <path d="M4.25933 11.0818C3.98688 13.1659 3.82139 15.2835 3.76853 17.4291C6.66451 18.6382 9.41893 20.1187 12 21.8387C14.5811 20.1187 17.3355 18.6382 20.2315 17.4291C20.1786 15.2835 20.0131 13.1659 19.7407 11.0819M4.25933 11.0818C3.38362 10.7875 2.49729 10.5163 1.60107 10.2689C4.84646 7.99405 8.32741 6.03238 12 4.42773C15.6727 6.03238 19.1536 7.99406 22.399 10.2689C21.5028 10.5163 20.6164 10.7875 19.7407 11.0819M4.25933 11.0818C6.94656 11.9851 9.5338 13.1061 12.0001 14.4238C14.4663 13.1061 17.0535 11.9851 19.7407 11.0819M6.75 15.9352C7.16421 15.9352 7.5 15.5994 7.5 15.1852C7.5 14.771 7.16421 14.4352 6.75 14.4352C6.33579 14.4352 6 14.771 6 15.1852C6 15.5994 6.33579 15.9352 6.75 15.9352ZM6.75 15.9352V12.2597C8.44147 11.2087 10.1936 10.2461 12 9.37847M4.99264 20.9278C6.16421 19.7562 6.75 18.2207 6.75 16.6852V15.1852" stroke="#0F172A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="info__text">
          <div class="info__item-title">
            Формат
          </div>
          <div class="info__item-text">
            Самостоятельно<br> 
            Видеоуроки<br>
            Обучение в ЛК на GetCourse
          </div>
        </div>
      </div>
    </div>
  </div>
</div>