<div class="wrapper">
  <div class="profit">
    <div class="profit-title">Что вы получите?</div>
    <div class="profit-list">
      <div class="profit-item">
        <div class="profit-item-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
            <path d="M9.39614 14.521C10.5385 14.521 11.5692 13.8894 12.2741 12.9905C13.3695 11.5939 14.7499 10.4316 16.3278 9.5913C17.3509 9.04647 18.2386 8.23706 18.669 7.1609C18.9702 6.40788 19.125 5.60431 19.125 4.79328V3.896C19.125 3.30919 19.6007 2.8335 20.1875 2.8335C21.9479 2.8335 23.375 4.26059 23.375 6.021C23.375 7.65247 23.0073 9.19806 22.3502 10.5794C21.974 11.3704 22.5018 12.396 23.3777 12.396M23.3777 12.396H27.8059C29.2603 12.396 30.5622 13.3792 30.7162 14.8254C30.7798 15.4235 30.8125 16.0309 30.8125 16.646C30.8125 20.6801 29.4073 24.3861 27.0598 27.3011C26.5106 27.9829 25.6618 28.3335 24.7863 28.3335H19.097C18.4118 28.3335 17.7311 28.223 17.0811 28.0064L12.6689 26.5356C12.0189 26.319 11.3382 26.2085 10.653 26.2085H8.36429M23.3777 12.396H20.1875M8.36429 26.2085C8.48161 26.4983 8.60927 26.7828 8.74683 27.0616C9.02611 27.6276 8.63628 28.3335 8.00512 28.3335H6.71909C5.46008 28.3335 4.29238 27.5996 3.92496 26.3954C3.44545 24.8239 3.1875 23.1557 3.1875 21.4272C3.1875 19.2279 3.60514 17.1262 4.36544 15.1969C4.79761 14.1003 5.90372 13.4585 7.08242 13.4585H8.57383C9.24238 13.4585 9.62951 14.246 9.28243 14.8174C8.11167 16.7449 7.4375 19.0073 7.4375 21.4272C7.4375 23.1181 7.76662 24.732 8.36429 26.2085Z" stroke="#FAB706" stroke-width="2.125" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </div>
        <div class="profit-item-text">Устранение головных болей</div>
      </div>
      <div class="profit-item">
        <div class="profit-item-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
            <path d="M9.39614 14.521C10.5385 14.521 11.5692 13.8894 12.2741 12.9905C13.3695 11.5939 14.7499 10.4316 16.3278 9.5913C17.3509 9.04647 18.2386 8.23706 18.669 7.1609C18.9702 6.40788 19.125 5.60431 19.125 4.79328V3.896C19.125 3.30919 19.6007 2.8335 20.1875 2.8335C21.9479 2.8335 23.375 4.26059 23.375 6.021C23.375 7.65247 23.0073 9.19806 22.3502 10.5794C21.974 11.3704 22.5018 12.396 23.3777 12.396M23.3777 12.396H27.8059C29.2603 12.396 30.5622 13.3792 30.7162 14.8254C30.7798 15.4235 30.8125 16.0309 30.8125 16.646C30.8125 20.6801 29.4073 24.3861 27.0598 27.3011C26.5106 27.9829 25.6618 28.3335 24.7863 28.3335H19.097C18.4118 28.3335 17.7311 28.223 17.0811 28.0064L12.6689 26.5356C12.0189 26.319 11.3382 26.2085 10.653 26.2085H8.36429M23.3777 12.396H20.1875M8.36429 26.2085C8.48161 26.4983 8.60927 26.7828 8.74683 27.0616C9.02611 27.6276 8.63628 28.3335 8.00512 28.3335H6.71909C5.46008 28.3335 4.29238 27.5996 3.92496 26.3954C3.44545 24.8239 3.1875 23.1557 3.1875 21.4272C3.1875 19.2279 3.60514 17.1262 4.36544 15.1969C4.79761 14.1003 5.90372 13.4585 7.08242 13.4585H8.57383C9.24238 13.4585 9.62951 14.246 9.28243 14.8174C8.11167 16.7449 7.4375 19.0073 7.4375 21.4272C7.4375 23.1181 7.76662 24.732 8.36429 26.2085Z" stroke="#FAB706" stroke-width="2.125" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </div>
        <div class="profit-item-text">Заряд бодрости на весь день</div>
      </div>
      <div class="profit-item">
        <div class="profit-item-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
            <path d="M9.39614 14.521C10.5385 14.521 11.5692 13.8894 12.2741 12.9905C13.3695 11.5939 14.7499 10.4316 16.3278 9.5913C17.3509 9.04647 18.2386 8.23706 18.669 7.1609C18.9702 6.40788 19.125 5.60431 19.125 4.79328V3.896C19.125 3.30919 19.6007 2.8335 20.1875 2.8335C21.9479 2.8335 23.375 4.26059 23.375 6.021C23.375 7.65247 23.0073 9.19806 22.3502 10.5794C21.974 11.3704 22.5018 12.396 23.3777 12.396M23.3777 12.396H27.8059C29.2603 12.396 30.5622 13.3792 30.7162 14.8254C30.7798 15.4235 30.8125 16.0309 30.8125 16.646C30.8125 20.6801 29.4073 24.3861 27.0598 27.3011C26.5106 27.9829 25.6618 28.3335 24.7863 28.3335H19.097C18.4118 28.3335 17.7311 28.223 17.0811 28.0064L12.6689 26.5356C12.0189 26.319 11.3382 26.2085 10.653 26.2085H8.36429M23.3777 12.396H20.1875M8.36429 26.2085C8.48161 26.4983 8.60927 26.7828 8.74683 27.0616C9.02611 27.6276 8.63628 28.3335 8.00512 28.3335H6.71909C5.46008 28.3335 4.29238 27.5996 3.92496 26.3954C3.44545 24.8239 3.1875 23.1557 3.1875 21.4272C3.1875 19.2279 3.60514 17.1262 4.36544 15.1969C4.79761 14.1003 5.90372 13.4585 7.08242 13.4585H8.57383C9.24238 13.4585 9.62951 14.246 9.28243 14.8174C8.11167 16.7449 7.4375 19.0073 7.4375 21.4272C7.4375 23.1181 7.76662 24.732 8.36429 26.2085Z" stroke="#FAB706" stroke-width="2.125" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </div>
        <div class="profit-item-text">Теплые конечности</div>
      </div>
      <div class="profit-item">
        <div class="profit-item-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
            <path d="M9.39614 14.521C10.5385 14.521 11.5692 13.8894 12.2741 12.9905C13.3695 11.5939 14.7499 10.4316 16.3278 9.5913C17.3509 9.04647 18.2386 8.23706 18.669 7.1609C18.9702 6.40788 19.125 5.60431 19.125 4.79328V3.896C19.125 3.30919 19.6007 2.8335 20.1875 2.8335C21.9479 2.8335 23.375 4.26059 23.375 6.021C23.375 7.65247 23.0073 9.19806 22.3502 10.5794C21.974 11.3704 22.5018 12.396 23.3777 12.396M23.3777 12.396H27.8059C29.2603 12.396 30.5622 13.3792 30.7162 14.8254C30.7798 15.4235 30.8125 16.0309 30.8125 16.646C30.8125 20.6801 29.4073 24.3861 27.0598 27.3011C26.5106 27.9829 25.6618 28.3335 24.7863 28.3335H19.097C18.4118 28.3335 17.7311 28.223 17.0811 28.0064L12.6689 26.5356C12.0189 26.319 11.3382 26.2085 10.653 26.2085H8.36429M23.3777 12.396H20.1875M8.36429 26.2085C8.48161 26.4983 8.60927 26.7828 8.74683 27.0616C9.02611 27.6276 8.63628 28.3335 8.00512 28.3335H6.71909C5.46008 28.3335 4.29238 27.5996 3.92496 26.3954C3.44545 24.8239 3.1875 23.1557 3.1875 21.4272C3.1875 19.2279 3.60514 17.1262 4.36544 15.1969C4.79761 14.1003 5.90372 13.4585 7.08242 13.4585H8.57383C9.24238 13.4585 9.62951 14.246 9.28243 14.8174C8.11167 16.7449 7.4375 19.0073 7.4375 21.4272C7.4375 23.1181 7.76662 24.732 8.36429 26.2085Z" stroke="#FAB706" stroke-width="2.125" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </div>
        <div class="profit-item-text">Ровную работу сердца</div>
      </div>
      <div class="profit-item">
        <div class="profit-item-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
            <path d="M9.39614 14.521C10.5385 14.521 11.5692 13.8894 12.2741 12.9905C13.3695 11.5939 14.7499 10.4316 16.3278 9.5913C17.3509 9.04647 18.2386 8.23706 18.669 7.1609C18.9702 6.40788 19.125 5.60431 19.125 4.79328V3.896C19.125 3.30919 19.6007 2.8335 20.1875 2.8335C21.9479 2.8335 23.375 4.26059 23.375 6.021C23.375 7.65247 23.0073 9.19806 22.3502 10.5794C21.974 11.3704 22.5018 12.396 23.3777 12.396M23.3777 12.396H27.8059C29.2603 12.396 30.5622 13.3792 30.7162 14.8254C30.7798 15.4235 30.8125 16.0309 30.8125 16.646C30.8125 20.6801 29.4073 24.3861 27.0598 27.3011C26.5106 27.9829 25.6618 28.3335 24.7863 28.3335H19.097C18.4118 28.3335 17.7311 28.223 17.0811 28.0064L12.6689 26.5356C12.0189 26.319 11.3382 26.2085 10.653 26.2085H8.36429M23.3777 12.396H20.1875M8.36429 26.2085C8.48161 26.4983 8.60927 26.7828 8.74683 27.0616C9.02611 27.6276 8.63628 28.3335 8.00512 28.3335H6.71909C5.46008 28.3335 4.29238 27.5996 3.92496 26.3954C3.44545 24.8239 3.1875 23.1557 3.1875 21.4272C3.1875 19.2279 3.60514 17.1262 4.36544 15.1969C4.79761 14.1003 5.90372 13.4585 7.08242 13.4585H8.57383C9.24238 13.4585 9.62951 14.246 9.28243 14.8174C8.11167 16.7449 7.4375 19.0073 7.4375 21.4272C7.4375 23.1181 7.76662 24.732 8.36429 26.2085Z" stroke="#FAB706" stroke-width="2.125" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </div>
        <div class="profit-item-text">Избавление от болей</div>
      </div>
      <div class="profit-item">
        <div class="profit-item-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
            <path d="M9.39614 14.521C10.5385 14.521 11.5692 13.8894 12.2741 12.9905C13.3695 11.5939 14.7499 10.4316 16.3278 9.5913C17.3509 9.04647 18.2386 8.23706 18.669 7.1609C18.9702 6.40788 19.125 5.60431 19.125 4.79328V3.896C19.125 3.30919 19.6007 2.8335 20.1875 2.8335C21.9479 2.8335 23.375 4.26059 23.375 6.021C23.375 7.65247 23.0073 9.19806 22.3502 10.5794C21.974 11.3704 22.5018 12.396 23.3777 12.396M23.3777 12.396H27.8059C29.2603 12.396 30.5622 13.3792 30.7162 14.8254C30.7798 15.4235 30.8125 16.0309 30.8125 16.646C30.8125 20.6801 29.4073 24.3861 27.0598 27.3011C26.5106 27.9829 25.6618 28.3335 24.7863 28.3335H19.097C18.4118 28.3335 17.7311 28.223 17.0811 28.0064L12.6689 26.5356C12.0189 26.319 11.3382 26.2085 10.653 26.2085H8.36429M23.3777 12.396H20.1875M8.36429 26.2085C8.48161 26.4983 8.60927 26.7828 8.74683 27.0616C9.02611 27.6276 8.63628 28.3335 8.00512 28.3335H6.71909C5.46008 28.3335 4.29238 27.5996 3.92496 26.3954C3.44545 24.8239 3.1875 23.1557 3.1875 21.4272C3.1875 19.2279 3.60514 17.1262 4.36544 15.1969C4.79761 14.1003 5.90372 13.4585 7.08242 13.4585H8.57383C9.24238 13.4585 9.62951 14.246 9.28243 14.8174C8.11167 16.7449 7.4375 19.0073 7.4375 21.4272C7.4375 23.1181 7.76662 24.732 8.36429 26.2085Z" stroke="#FAB706" stroke-width="2.125" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </div>
        <div class="profit-item-text">Отсутствие грыж</div>
      </div>
    </div>
  </div>
</div>