<div class="wrapper">
  <div class="program">
    <div class="program__title">
      Программа курса
    </div>
    <div class="program__element">
      <div class="program__element-title">
        Часть 1. Суставы, позвоночник, связки, сухожилия
      </div>
      <ul class="program__element-list">
        <li>Упражнения для укрепления пальцев, лучезапястных, локтевых и плечевых суставов.</li>
        <li>Для стоп, голеностопных, коленных и тазобедренных суставов и для крестца.</li>
        <li>Для шейного, верхнегрудного, нижнегрудного, поясничного отделов позвоночника.</li>
        <li>5 видов скруток для позвоночника.</li>
        <li>Вибрационное упражнения для улучшения капиллярной системы.</li>
      </ul>
    </div>

    <div class="program__element">
      <div class="program__element-title">
        Часть 2. Тонус мышц и тела
      </div>
      <ul class="program__element-list">
        <li>Упражнения для улучшения: кровообращения верхних и нижних конечностей, состояния сердечно-сосудистой системы.</li>
        <li>Упражнения для укрепления мышц плечевого пояса, рук и ног (бедра, голени, стопы), повышение гибкости коленных суставов (разработка).</li>
        <li>Массаж внутренних органов и позвоночника.</li>
        <li>Скрутки для всего тела.</li>
        <li>Вибрационное упражнения для сердечно-сосудистой системы.</li>
      </ul>
    </div>

    <div class="program__element">
      <div class="program__element-title">
        Часть 3. Гибкость и растяжка
      </div>
      <ul class="program__element-list">
        <li>Упражнения на коврике для укрепления мышц спины, живота, груди в статике и динамике.</li>
        <li>Растяжка мышц бедра, голени, связок коленных суставов, мышц ног.</li>
        <li>Улучшение питания позвоночника, головного и спинного мозга.</li>
        <li>Подтяжка боковых мышц туловища.</li>
        <li>Улучшение работы эндокринной системы, особенно щитовидной железы, и внутренних органов.</li>
      </ul>
    </div>
  </div>
</div>